/* --------------------------------------------------
   COMPATIBILITY PLUGINS
----------------------------------------------------- */

/*
Theme Name: Kleo Template
Description:  A multipurpose html template
Author: SeventhQueen
Author URI: http://themeforest.net/user/SeventhQueen/portfolio?ref=SeventhQueen
Version: 1.0
Tags: clean, responsive, creative, minimal, modern, landing page, bootstrap 3

/*
*** IN THIS DOCUMENT ***

01. WPML Multilingual CMS
02. rtMedia for WordPress, BuddyPress and bbPress - This plugin adds missing media rich features like photos,
		videos and audio uploading to BuddyPress which are essential if you are building social network, seriously!
03. Multi-Site (Buddypress) Compatibility
04. Badge OS
05. Contact form7 - Just another contact form plugin. Simple but flexible.
06. Paid memberships Pro - Plugin to Handle Memberships.
07. Social Articles - The first BuddyPress plugin that let you to create and manage posts from your profile.
08. YITH WooCommerce Wishlist - Allows you to add Wishlist functionality to your e-commerce.
09. GEO my WP - Add location to any post types, pages or members (using Buddypress) and create an advance proximity search forms.
10. BuddyPress Group Email Subscription
12. Cometchat
13. Visual composer
   - Ultimate Addons for Visual Composer
   - TS Visual composer extend
14. MailChimp
15. Mediaelement
16. Mycred

18. BuddyPress Group Email Subscription
19. Mediaelement.js
20. GDPR Plugin
21. Youzer Plugin
22. WC Vendors
 */

@import "./plugins/wpml.less";
@import "./plugins/rtmedia.less";
@import "./plugins/badgeos.less";
@import "./plugins/contact-form-7.less";
@import "./plugins/pmpro.less";
@import "./plugins/social-articles.less";
@import "./plugins/yith-wcwl.less";
@import "./plugins/geo-my-wp.less";
@import "./plugins/bp-group-email-subscription.less";
@import "./plugins/cometchat.less";
@import "./plugins/visual-composer.less";
@import "./plugins/mc4wp.less";
@import "./plugins/events-manager.less";
@import "./plugins/mycred.less";
@import "./plugins/bp-cover-photo.less";
@import "./plugins/bp-profile-search.less";
@import "./plugins/mediaelement.less";
@import "./plugins/gdpr.less";
@import "./plugins/elementor.less";
@import "plugins/youzer.less";
@import "plugins/learndash.less";
@import "plugins/wc-vendors.less";