/* --------------------------------------------------
   COMPATIBILITY PLUGINS
----------------------------------------------------- */
/*
Theme Name: Kleo Template
Description:  A multipurpose html template
Author: SeventhQueen
Author URI: http://themeforest.net/user/SeventhQueen/portfolio?ref=SeventhQueen
Version: 1.0
Tags: clean, responsive, creative, minimal, modern, landing page, bootstrap 3

/*
*** IN THIS DOCUMENT ***

01. WPML Multilingual CMS
02. rtMedia for WordPress, BuddyPress and bbPress - This plugin adds missing media rich features like photos,
		videos and audio uploading to BuddyPress which are essential if you are building social network, seriously!
03. Multi-Site (Buddypress) Compatibility
04. Badge OS
05. Contact form7 - Just another contact form plugin. Simple but flexible.
06. Paid memberships Pro - Plugin to Handle Memberships.
07. Social Articles - The first BuddyPress plugin that let you to create and manage posts from your profile.
08. YITH WooCommerce Wishlist - Allows you to add Wishlist functionality to your e-commerce.
09. GEO my WP - Add location to any post types, pages or members (using Buddypress) and create an advance proximity search forms.
10. BuddyPress Group Email Subscription
12. Cometchat
13. Visual composer
   - Ultimate Addons for Visual Composer
   - TS Visual composer extend
14. MailChimp
15. Mediaelement
16. Mycred

18. BuddyPress Group Email Subscription
19. Mediaelement.js
20. GDPR Plugin
21. Youzer Plugin
22. WC Vendors
 */
/* --------------------------------------------------
    WPML Multilingual CMS - KLEO Compatibility
----------------------------------------------------- */
#lang_sel li {
  width: 140px;
}
.submenu-languages {
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.1);
  float: left;
  left: 0;
  list-style: none;
  min-width: 190px;
  top: 100%;
  z-index: 1000;
}
.menu-item-language {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.menu-item-language:last-child {
  border-bottom: 0 none;
}
.submenu-languages a {
  padding: 7px 18px;
  display: block;
}
.menu-item:hover .submenu-languages {
  display: block;
}
/* --------------------------------------------------
	rtMedia (Buddypress) - KLEO Compatibility
----------------------------------------------------- */
#buddypress .rtmedia-container textarea,
#buddypress .rtmedia-container input[type=text],
#buddypress .rtmedia-container input[type=text],
#buddypress .rtmedia-container input[type=color],
#buddypress .rtmedia-container input[type=date],
#buddypress .rtmedia-container input[type=datetime],
#buddypress .rtmedia-container input[type=datetime-local],
#buddypress .rtmedia-container input[type=email],
#buddypress .rtmedia-container input[type=month],
#buddypress .rtmedia-container input[type=number],
#buddypress .rtmedia-container input[type=range],
#buddypress .rtmedia-container input[type=search],
#buddypress .rtmedia-container input[type=tel],
#buddypress .rtmedia-container input[type=time],
#buddypress .rtmedia-container input[type=url],
#buddypress .rtmedia-container input[type=week],
#buddypress .rtmedia-container select,
#buddypress .rtmedia-container input[type=password] {
  border-style: solid;
  border-width: 1px;
  background: transparent;
  border-radius: 0;
  color: #bbb;
  font: inherit;
  font-size: 100%;
  padding: 6px;
}
.buddypress.media,
.buddypress.media-body {
  overflow: visible;
}
.buddypress.media,
.buddypress.media .media {
  margin-top: 0;
}
.buddypress.media:first-child {
  margin-top: 0;
}
#buddypress .rtmedia-container .rtmedia-list .rtmedia-list-item {
  height: 150px;
  width: 150px;
  margin-bottom: 30px;
}
#buddypress li.rtmedia-list-item {
  overflow: visible !important;
}
#buddypress .rtmedia-item-thumbnail {
  position: relative;
}
#buddypress .rtmedia-item-thumbnail .hover-element > i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
#buddypress .rtmedia-container ul.rtmedia-list li.rtmedia-list-item div.rtmedia-item-thumbnail {
  height: inherit;
  line-height: inherit;
  width: inherit;
}
#buddypress .rtmedia-container .rtmedia-list .rtmedia-list-item a h4,
#buddypress .rtmedia-activity-container .rtmedia-list .rtmedia-list-item a h4,
#buddypress div.rtmedia-activity-container .rtmedia-list .rtmedia-list-item a h4 {
  font-size: inherit;
}
body[class*="rtm-3.7"] #buddypress .rtmedia-container .rtmedia-list .rtmedia-list-item.masonry-brick a h4,
body[class*="rtm-3.7"] #buddypress .rtmedia-activity-container .rtmedia-list .rtmedia-list-item.masonry-brick a h4,
body[class*="rtm-3.7"] #buddypress div.rtmedia-activity-container .rtmedia-list .rtmedia-list-item.masonry-brick a h4 {
  font-size: inherit;
  color: #fff;
}
#buddypress .rtmedia-container .rtmedia-item-title a {
  color: #bbb;
}
/* Carousel */
#buddypress div.rtmedia-activity-container ul.rtmedia-list li .rtmedia-item-thumbnail {
  margin: 0 auto;
}
#buddypress.caroufredsel_wrapper .rtmedia-list .rtmedia-list-item,
#buddypress div.caroufredsel_wrapper .rtmedia-list .rtmedia-list-item {
  margin: 0 !important;
}
#buddypress div.rtmedia-activity-container ul.rtmedia-list li {
  padding: 2px !important;
}
#buddypress .rtmedia-activity-container:hover .activity-feed-prev {
  left: 2px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);
}
#buddypress .rtmedia-activity-container:hover .activity-feed-next {
  right: 3px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);
}
#buddypress .rtmedia-activity-container .activity-feed-prev:hover,
#buddypress .rtmedia-activity-container .activity-feed-next:hover {
  background: rgba(0, 0, 0, 0.2);
}
#buddypress div.rtmedia-activity-container .rtmedia-list .rtmedia-list-item.media-type-photo {
  width: auto;
  float: left;
}
#buddypress .activity-feed-prev,
#buddypress .activity-feed-next {
  position: absolute;
  width: 35px;
  height: 75px;
  background: rgba(0, 0, 0, 0);
  text-align: center;
  font-size: 18px;
  -ms-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: inline-block;
  opacity: 0;
  cursor: pointer;
}
#buddypress .activity-feed-prev {
  left: 25px;
  top: 40%;
  margin-top: -37px;
}
#buddypress .activity-feed-next {
  right: 25px;
  top: 40%;
  margin-top: -37px;
}
#buddypress .activity-feed-prev:after,
#buddypress .activity-feed-next:after {
  font: 22px "fontello";
  cursor: pointer;
  width: 35px;
  height: 75px;
  display: inline-block;
  color: #fff;
}
#buddypress .activity-feed-prev:after {
  content: "\e89e";
}
#buddypress .activity-feed-next:after {
  content: "\e89f";
}
#buddypress .rtmedia-item-title {
  color: #bbb;
  font-size: 11px !important;
  text-transform: uppercase;
}
.mfp-content #rtmedia-single-media-container .rtmedia-media {
  background-color: #000 !important;
}
.userprofile img.avatar {
  border-radius: 100%;
  border: 4px solid #333;
}
.rtmedia-container ul#rtmedia_comment_ul li .rtmedia-comment-user-pic img,
.rtmedia-activity-container ul#rtmedia_comment_ul li .rtmedia-comment-user-pic img {
  border-radius: 100% !important;
}
.mfp-content .rtmedia-actions-before-description {
  color: #777;
}
.mfp-close.dashicons-no-alt::before {
  content: "\E825";
  font-family: fontello;
}
.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta .rtm-media-single-comments textarea {
  border: 1px solid #333;
  margin-bottom: 10px;
  background-color: #151515;
  color: #e5e5e5;
}
.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta .rtm-media-single-comments .rt_media_comment_submit {
  background-color: #5B74A8;
  border-color: #5B74A8 !important;
  color: #fff;
  font-weight: bold;
  vertical-align: bottom;
}
.mfp-content #buddypress .rtm-lightbox-container #rtmedia-single-media-container .rtm-ltb-title-container,
.mfp-content #buddypress .rtm-lightbox-container #rtmedia-single-media-container .rtm-ltb-action-container {
  padding: 0 10px;
  position: absolute;
}
#buddypress .rtmedia-like-info {
  background-color: #151515;
  color: #777;
}
.rtmedia-container table,
.rtmedia-activity-container table,
#buddypress div.rtmedia-activity-container table {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
}
.rtm-file-input-container .rtMedia-simple-queue-list .upload-success {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e5e5e5;
}
.rtm-file-input-container .rtMedia-simple-queue-list .upload-success td {
  padding: 5px 10px;
}
.rtmedia-container ul#rtmedia_comment_ul li .rtmedia-comment-author a,
.rtmedia-activity-container ul#rtmedia_comment_ul li .rtmedia-comment-author a {
  color: #000;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
}
.rtmedia-comment-content {
  color: #777;
}
.rtm-comment-attachment img {
  width: 100%;
}
.rtmedia-container ul#rtmedia_comment_ul li,
.rtmedia-activity-container ul#rtmedia_comment_ul li {
  background-color: #151515;
  color: #777;
}
#buddypress #rt_media_comment_form {
  background-color: #151515;
}
.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta .rtm-single-meta-contents {
  padding: 0;
}
.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta .rtm-media-single-comments {
  background-color: #151515 !important;
}
.mfp-content #buddypress .rtm-lightbox-container .rtmedia-single-meta {
  background-color: #000 !important;
}
.rtm-top-notch,
.rtmedia-container.rtmedia-single-container .row .rtmedia-item-comments .rtm-like-comments-info:before,
.rtmedia-single-container.rtmedia-activity-container .row .rtmedia-item-comments .rtm-like-comments-info:before {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #151515;
  top: 25px !important;
}
.rtmedia-single-meta .rtmedia-actions-before-description .rtmedia-media-attributes span.rtmedia-media-attribute {
  font-size: 13px;
}
.rtmedia-single-meta .rtmedia-actions-before-description .rtmedia-pro-rating {
  margin-left: 0;
}
.rtmedia-single-container .rtmedia-pro-rating {
  width: 100%;
}
.rtmedia-edit-privacy .rt-form-select {
  margin-left: 10px;
}
#buddypress .rtmedia-container select {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIZJREFUeNrs1MEJwCAMBdA0OIjnDuYIdYY6pcdOIU2KhfbYiBbhC0Iu+vghuoQQViI6aPBi+mkBBgwY8HjYe7/ptp53VpSZY60p55y6J36i1wVSW5J/TlzTpWmHyxlaHaW9r9aWUpJ0Yu+aWAGFWlDzVCuk03zXw55TC4gvEzBgwPPCpwADAJAnLqKmIGxnAAAAAElFTkSuQmCC') 100% 50% no-repeat;
}
.mfp-content .rtm-like-comments-info:after {
  border-bottom-color: #151515;
}
.mfp-content .rt_media_comment_form textarea {
  resize: none;
}
/*Static page*/
#buddypress #item-body .rtmedia-item-comments .rt_media_comment_form textarea {
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  margin-bottom: 10px;
  padding: 5px 10px;
}
#item-body .rtmedia-container ul#rtmedia_comment_ul li,
#item-body .rtmedia-activity-container ul#rtmedia_comment_ul li {
  color: #777;
}
#buddypress #item-body #rt_media_comment_form {
  background-color: transparent;
}
#buddypress #item-body .rtmedia-like-info {
  background-color: #f7f7f7;
  color: #777;
}
#item-body .rtm-top-notch,
#item-body .rtmedia-container.rtmedia-single-container .row .rtmedia-item-comments .rtm-like-comments-info:before,
#item-body .rtmedia-single-container.rtmedia-activity-container .row .rtmedia-item-comments .rtm-like-comments-info:before {
  top: 25px !important;
}
#buddypress #item-body .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span a,
#buddypress #item-body .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span button,
#buddypress #item-body .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span button.rtmedia-action-buttons {
  color: #777 !important;
}
/*End Static page*/
#buddypress .mejs-controls button,
.rtmedia-container .mejs-controls button,
.rtmedia-activity-container .mejs-controls button,
#buddypress div.rtmedia-activity-container .mejs-controls button {
  padding: 0;
  background: none;
  height: 20px;
}
#buddypress .hentry .mejs-controls,
.rtmedia-container .hentry .mejs-controls,
.rtmedia-activity-container .hentry .mejs-controls,
#buddypress div.rtmedia-activity-container .hentry .mejs-controls {
  margin-left: 0;
  width: 100%;
}
.rtm-lightbox-container #rtm-mejs-video-container {
  padding-bottom: 20px;
}
.rtmedia-container ul#rtmedia_comment_ul li .rtmedia-comment-author a,
.rtmedia-activity-container ul#rtmedia_comment_ul li .rtmedia-comment-author a {
  color: inherit !important;
}
#buddypress .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span a,
#buddypress .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span button,
#buddypress .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments > span button.rtmedia-action-buttons {
  color: #f7f7f7 !important;
}
#buddypress .rtmedia-single-container .rtmedia-single-meta div.rtmedia-actions-before-comments .rtmedia-like {
  background: transparent;
  padding-bottom: 4px;
}
.rtmedia-container ul#rtmedia_comment_ul li .rtmedia-delete-comment,
.rtmedia-activity-container ul#rtmedia_comment_ul li .rtmedia-delete-comment {
  color: inherit !important;
}
/*.rtmedia-container #rtm-media-options,
.rtmedia-activity-container #rtm-media-options,
#buddypress div.rtmedia-activity-container #rtm-media-options,
.rtmedia-container,
.rtmedia-activity-container,
#buddypress div.rtmedia-activity-container {
	line-height: inherit !important;
}*/
#rtmedia-add-media-button-post-update {
  margin-top: 0 !important;
}
#rtm-gallery-title-container .rtm-gallery-title,
#item-body .rtmedia-container h2 {
  font-weight: 300 !important;
}
#rtm-media-options ul,
.rtm-lightbox-container #rtm-media-options-list ul {
  width: 180px;
  z-index: 30;
}
.rtm-lightbox-container #rtm-media-options-list ul {
  left: -100px;
}
#rtm-media-options ul li .rtmedia-action-buttons,
.rtm-lightbox-container #rtm-media-options-list ul li .rtmedia-action-buttons {
  color: #bbb;
}
#rtm-media-options ul li .rtmedia-action-buttons,
.rtm-lightbox-container #rtm-media-options-list ul li .rtmedia-action-buttons {
  padding: 0 5px;
}
#rtm-media-options ul li .rtmedia-action-buttons:hover,
.rtm-lightbox-container #rtm-media-options-list ul li .rtmedia-action-buttons:hover {
  background-color: transparent;
  color: #777;
}
#rtm-media-options .rtmedia-upload-media-link,
#rtm-media-options i,
#rtm-media-options a,
#rtm-media-options button,
#rtm-media-options span {
  color: #bbb !important;
  cursor: pointer;
  font-size: 13px !important;
  text-decoration: none;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  padding: 5px 15px !important;
  width: auto !important;
  float: right;
  border-radius: 30px;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options > span {
  border-right: 1px solid #e5e5e5;
  padding-right: 10px;
  margin-right: 10px;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options span {
  transition: all 0.2s ease-in-out 0s;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options span:hover {
  color: #777 !important;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options > span:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}
.rtmedia-container .rtmedia_next_prev a,
.rtmedia-activity-container .rtmedia_next_prev a,
#buddypress div.rtmedia-activity-container .rtmedia_next_prev a {
  background: #fff;
}
#buddypress span.theme-select.rtmedia-user-album-list {
  margin: 0 0 0 10px !important;
  width: auto !important;
  border: 1px solid #ddd !important;
  line-height: 30px !important;
  padding: 0 9px !important;
}
#buddypress span.theme-select.rtmedia-user-album-list span {
  width: auto !important;
}
.rtmedia-container .drag-drop,
.rtmedia-activity-container .drag-drop,
#buddypress div.rtmedia-activity-container .drag-drop {
  border-style: dashed;
  border-width: 2px;
}
.rtmedia-container .drag-drop .drag-drop-info,
.rtmedia-activity-container .drag-drop .drag-drop-info,
#buddypress div.rtmedia-activity-container .drag-drop .drag-drop-info {
  font-size: inherit;
}
.drag-drop #drag-drop-area {
  /* v.4.1.9 */
  border: 2px dashed #bad481;
  background: #f9ffec;
}
.drag-drop-inside p.drag-drop-info {
  /* v.4.1.9 */
  font-size: inherit;
}
p.drag-drop-buttons input#bp-browse-button {
  /* v.4.1.9 */
  width: 12em;
  font-size: 16px;
  border: 0;
  background: #6fb74e;
  color: #fff !important;
  height: 40px;
}
p.drag-drop-buttons input#bp-browse-button:hover {
  /* v.4.1.9 */
  background: #84d284 !important;
  border: 0;
}
.rtm-primary-button,
.rtmedia-container .drag-drop .start-media-upload,
.rtmedia-activity-container .drag-drop .start-media-upload,
#buddypress .rtmedia-container .rtmedia-uploader .drag-drop .start-media-upload {
  border: none !important;
  border-radius: 5px;
  box-shadow: none !important;
  padding: 6px 20px !important;
}
#buddypress .rtmedia-container .rtmedia-uploader .drag-drop input.start-media-upload {
  padding-top: 0 !important;
}
#buddypress .rtmedia-container .rtmedia-uploader select {
  background-color: #fff;
  margin-left: 10px;
}
#rtMedia-upload-button {
  border-style: solid;
  border-width: 1px;
}
body[class*="rtm-3.7"] #rtm-media-options-list ul:before,
body[class*="rtm-3.7"] #rtm-media-sort-list ul:before {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e5e5e5 !important;
  border-style: inset inset solid;
  border-width: 5px !important;
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: -10px !important;
  z-index: 9;
}
body[class*="rtm-3.7"] #rtm-media-options-list ul,
body[class*="rtm-3.7"] #rtm-media-sort-list ul {
  background-color: #fff !important;
  border-radius: 3px !important;
  border: 1px solid #e5e5e5;
  left: -85px;
  margin-top: 12px;
  padding: 10px 5px;
  position: absolute;
  right: 0;
  width: 170px;
  z-index: 9;
}
body[class*="rtm-3.7"] #rtm-media-options-list ul li .rtmedia-action-buttons {
  border-radius: 6px;
  color: inherit;
  display: block;
  font-size: 12px;
  margin: 0;
  padding: inherit;
  text-align: left;
  width: 100%;
}
body[class*="rtm-3.7"] .rtmedia-container .rtmedia-gallery-item-actions {
  max-width: 150px;
  z-index: 10;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options {
  visibility: hidden;
}
.logged-in #rtm-gallery-title-container #rtm-media-options {
  visibility: visible !important;
}
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options .click-nav .rtm-options li a:hover,
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options .click-nav .rtm-options li span:hover,
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options .click-nav .rtm-options li button:hover,
body[class*="rtm-3.7"] #rtm-gallery-title-container #rtm-media-options .click-nav .rtm-options li input:hover {
  color: #777 !important;
}
body[class*="rtm-3.7"] .rtmedia_next_prev {
  text-align: center;
  padding: 30px 0 !important;
}
.rtm-load-more {
  background: none;
}
.rtmedia-container .rtmedia_next_prev a,
.rtmedia-activity-container .rtmedia_next_prev a,
#buddypress div.rtmedia-activity-container .rtmedia_next_prev a {
  background: none !important;
  border-style: solid;
  border-width: 1px;
  margin: 0 auto !important;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 11px;
  height: 30px;
  line-height: 28px;
  padding: 0 10px;
}
.rtmedia-activity-container .rtmedia_next_prev a,
#buddypress div.rtmedia-activity-container .rtmedia_next_prev a {
  display: inline-block !important;
}
.rtmedia-container .rtmedia_next_prev a {
  max-width: 120px;
  overflow: hidden;
}
.rtmedia-container .rtmedia_next_prev a:before,
.rtmedia-activity-container .rtmedia_next_prev a:before,
#buddypress div.rtmedia-activity-container .rtmedia_next_prev a:before {
  content: "+";
  font-size: 120%;
  margin-right: 5px;
}
/*#rtMedia-galary-prev,
#rtMedia-galary-next {
	padding: 5px 10px;
}*/
#rtMedia-galary-prev {
  display: none !important;
}
.no-js #rtMedia-galary-prev {
  display: inline-block !important;
}
.rtm-media-loading {
  position: absolute;
  bottom: 25px;
  left: 25px;
  opacity: .5;
}
.rtmedia-container .rtmedia-editor-main .tabs-content .content,
.rtmedia-activity-container .rtmedia-editor-main .tabs-content .content,
#buddypress div.rtmedia-activity-container .rtmedia-editor-main .tabs-content .content {
  padding: 10px 0 !important;
}
#rtmedia_media_single_edit .rtm-tabs-content select {
  display: block;
}
.rtmedia-editor-main.columns {
  padding: 0 !important;
}
.rtmedia-image-editor .imgedit-menu button.button {
  width: 36px;
}
#buddypress .rtmedia-container .imgedit-group button.dashicons {
  margin: 0;
  padding: 0;
  border: 0;
}
.my-account.media #buddypress .imgedit-menu button:not(.multiselect) {
  width: auto !important;
  margin: 2px;
  vertical-align: middle;
  display: inline-block;
}
.my-account.media #buddypress .imgedit-menu button:not(.multiselect):before {
  top: auto;
  vertical-align: middle;
}
.rtmedia-container.rtmedia-single-container .row,
.rtmedia-single-container.rtmedia-activity-container .row,
#buddypress div.rtmedia-single-container.rtmedia-activity-container .row {
  background-color: transparent;
}
.rtmedia-container .row .row,
.rtmedia-activity-container .row .row,
#buddypress div.rtmedia-activity-container .row .row {
  margin: 0;
}
.rtmedia-container.rtmedia-single-container .row .rtmedia-single-meta button,
.rtmedia-single-container.rtmedia-activity-container .row .rtmedia-single-meta button,
#buddypress div.rtmedia-single-container.rtmedia-activity-container .row .rtmedia-single-meta button {
  background-image: none;
  font-size: 11px;
  text-transform: uppercase;
}
.wp_attachment_image .thumbnail {
  max-width: 100% !important;
  border-radius: 0 !important;
}
.rtmedia-container .imgedit-wrap div.imgedit-panel-content {
  min-width: 400px;
  max-width: 400px;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .imgedit-group {
  display: inline-block;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  margin: 10px 0;
  padding: 10px;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .nowrap input {
  margin: 0 5px;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .imgedit-group p {
  display: block;
  padding: 10px 0;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .imgedit-group p.disabled {
  padding: 0;
}
.rtmedia-container .imgedit-wrap div.imgedit-settings .nowrap input[type="text"] {
  display: inline-block;
}
.dashicons-editor-help:before {
  font-family: 'fontello';
  content: "\e97e";
}
.rtmedia-container .row,
.rtmedia-activity-container .row,
#buddypress div.rtmedia-activity-container .row {
  max-width: 100% !important;
}
.rtmedia-container .column,
.rtmedia-activity-container .column,
#buddypress div.rtmedia-activity-container .column,
.rtmedia-container .columns,
.rtmedia-activity-container .columns,
#buddypress div.rtmedia-activity-container .columns {
  padding: 0 !important;
}
.rtmedia-container .rtmedia-editor-attributes {
  border: 1px solid #e5e5e5;
}
.rtmedia-container .rtmedia-editor-attributes .rtm-attr-edit-heading {
  background-color: #f7f7f7;
  color: #777;
  display: block;
  margin: 0;
  padding: 5px 10px;
  width: 100%;
}
.rtmedia-container .rtmedia-editor-attributes .row {
  border-bottom: 1px solid #f7f7f7;
}
.rtmedia-container .rtmedia-editor-attributes .row:last-child {
  border-bottom: none;
}
.rtmedia-container .rtmedia-edit-attr-select.row,
.rtmedia-container .rtmedia-edit-attr-checkbox.row {
  padding: 10px;
}
.rtmedia-container .tabs dd,
.rtmedia-activity-container .tabs dd,
#buddypress div.rtmedia-activity-container .tabs dd {
  float: none;
  display: inline-block;
}
.rtmedia-container .tabs dd a,
.rtmedia-activity-container .tabs dd a,
#buddypress div.rtmedia-activity-container .tabs dd a {
  display: block;
}
.rtmedia-container .rtmedia-editor-main dl.tabs dd > a,
.rtmedia-activity-container .rtmedia-editor-main dl.tabs dd > a,
#buddypress div.rtmedia-activity-container .rtmedia-editor-main dl.tabs dd > a {
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  font-size: 13px;
}
.rtmedia-container .rtmedia-editor-main dl.tabs dd.active > a,
.rtmedia-activity-container .rtmedia-editor-main dl.tabs dd.active > a,
#buddypress div.rtmedia-activity-container .rtmedia-editor-main dl.tabs dd.active > a {
  border-style: solid;
  border-width: 1px;
}
.rtmedia-container .rtmedia-pro-url-upload .rtm-upload-url #rtmedia_url_upload_input {
  width: 100%;
}
.imgedit-submit .imgedit-submit-btn {
  float: right;
}
.rtm-tabs .dashicons {
  line-height: 1;
}
.rtmedia-success {
  background-color: #F3FFDB;
  border-left: 3px solid #81C839;
  border-radius: 0;
  color: #225500;
  font-weight: normal;
  margin-top: 3px;
  text-decoration: none;
}
.rtmedia-container .mfp-arrow {
  height: 110px !important;
  line-height: 110px !important;
  background: rgba(0, 0, 0, 0.5) !important;
}
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFFFFF;
  margin-left: 31px;
}
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  border-right: none;
  margin-left: 25px;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFFFFF;
  margin-left: 39px;
}
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: none;
}
.mfp-preloader {
  border-radius: 3px;
  color: white;
  left: 50%;
  margin-left: -100px;
  max-width: 200px;
  padding: 10px;
  position: absolute;
  right: 8px;
  text-align: center;
}
/* Media search */
#buddypress .media_search.media_search {
  border: none;
}
#buddypress .media_search.media_search .media_search_input {
  border-right: none;
}
.bp-legacy.media #buddypress div#item-header div#item-header-content a.bp-pmpro-level {
  background: transparent;
}
/* --------------------------------------------------
	Badge OS - KLEO Compatibility
----------------------------------------------------- */
#buddypress .badgeos-achievements-list-item {
  border-bottom: none;
}
#buddypress .badgeos-achievements-list-item {
  padding: 0;
}
#buddypress .activity-list .badgeos .badgeos-item-image {
  width: 30px;
  padding-right: 0;
}
/* --------------------------------------------------
		Contact form 7 - KLEO Compatibility
----------------------------------------------------- */
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="date"],
.wpcf7 input[type="password"] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  /*height: 30px;
    line-height: 30px;*/
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  width: 100%;
  /*margin-top: 10px;*/
  margin-bottom: 10px;
  color: #bbb;
}
.wpcf7 textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  margin: 0;
  width: 100%;
  color: #bbb;
  padding: 10px;
}
.wpcf7 input[type="submit"] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out 0s;
  border-radius: 2px;
  font-size: 12px;
  height: auto;
  line-height: 18px;
  margin: 0;
  padding: 14px 16px;
  text-transform: uppercase;
  min-width: 100px;
  color: #888;
}
.wpcf7 input[type="submit"]:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0);
}
div.wpcf7-validation-errors {
  border: 1px solid #F7E700;
}
div.wpcf7-response-output {
  margin: 0;
}
/* See through style */
.kleo-line-form select {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100%;
}
.kleo-line-form {
  text-align: center;
}
.kleo-line-form input[type="submit"] {
  padding: 8px 40px;
  font-size: 14px;
  background: transparent;
  border-radius: 20px;
  margin-top: 30px;
}
/* --------------------------------------------------
    Paid memberships Pro - KLEO compatibility
----------------------------------------------------- */
form.pmpro_form .pmpro_submit {
  margin-left: 0;
}
.pmpro_message {
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
}
.pmpro_checkout thead th,
.pmpro_checkout tbody td {
  padding-left: 0;
  padding-right: 0;
}
#pmpro_account .pmpro_box {
  border-top-style: solid;
  border-top-width: 1px;
}
#pmpro_account ul {
  list-style: none;
  padding-left: 0;
}
#pmpro_tos_fields label {
  float: none;
  font-weight: bold;
  text-align: left;
  width: auto;
  margin: 3px 0 0;
}
#pmpro_tos_fields textarea {
  border: 1px solid #e5e5e5;
}
.pmpro_checkout tr.odd td {
  background: none;
}
form.pmpro_form .input,
form.pmpro_form textarea,
.input,
form.pmpro_form select {
  border: 1px solid #e5e5e5;
}
.pmpro_checkout .theme-select {
  width: auto;
}
.pmpro-expiration-selects .theme-select {
  width: 70px;
}
#pmpro_payment_information_fields .theme-select {
  min-width: 70px;
}
.pmpro-invoice ul,
.pmpro-billing ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
/*Fix on IE 11 card details*/
.pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-areas: "AccountNumber AccountNumber" "Expiry CVV";
  grid-gap: 1em;
  -ms-grid-columns: 1fr 1em 1fr;
  grid-template-columns: 1fr 1fr;
}
.pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-account-number,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-account-number {
  grid-area: AccountNumber;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}
.pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-expiration,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-expiration {
  grid-area: Expiry;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-cvv,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-cvv {
  grid-area: CVV;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-discount-code,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_payment-discount-code {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
#pmpro_payment_information_fields .pmpro_checkout-fields-display-seal {
  clear: both;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1em 1fr;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1em;
}
.pmpro_checkout_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields-rightcol,
.pmpro_billing_gateway-stripe form.pmpro_form #pmpro_payment_information_fields .pmpro_checkout-fields-rightcol {
  -ms-grid-column: 3;
}
/* --------------------------------------------------
    Social Articles - KLEO Compatibility
----------------------------------------------------- */
#articles-dir-list .publish-container {
  width: 100%;
}
#articles-dir-list article.article-container {
  border-style: solid;
  border-width: 1px;
  margin: 1%;
  display: inline-block;
  width: 48%;
  float: left;
  /* v.4.1.9 */
  border-color: transparent !important;
  background: #fafafa;
  padding: 20px;
  border-radius: 6px;
}
#articles-dir-list article.article-container:nth-of-type(2n+1) {
  clear: left;
}
@media (max-width: 991px) {
  #articles-dir-list article.article-container {
    margin: 1% 0;
    padding: 10px;
    width: 100%;
    float: none;
  }
}
#main-container .article-content {
  padding-top: 0;
  float: none;
  width: auto;
  border: none;
  background: transparent;
}
.article-content .article-image {
  height: auto;
  width: auto;
  margin-left: 0;
  margin-top: 0;
  float: left;
  margin: 0 20px 20px 0;
}
.article-content .article-image:empty {
  display: none;
  margin: 0 !important;
}
.article-content .article-data {
  margin-left: 0;
  margin-bottom: 15px;
  width: auto;
  min-height: 0;
  float: none;
}
.article-content .article-data span.date {
  float: none;
  line-height: 30px;
}
.article-content .article-metadata {
  padding-right: 0;
  /*border-top-style: solid;
    border-top-width: 1px;*/
  min-width: 0;
  height: auto;
  /*width: 50%;*/
  width: 100%;
  display: inline-block;
  clear: left;
}
.article-content .article-metadata .author-options {
  position: absolute;
  right: 0;
  /*top: 10px;*/
  /* v.4.1.9 */
  top: 18px;
}
.article-content .article-categories {
  padding-left: 0;
  width: 50%;
  /*border-top-style: solid;
    border-top-width: 1px;*/
  line-height: 30px;
}
.article-content .article-likes,
.article-content .article-comments,
.article-content .date {
  font-family: inherit;
  font-style: normal;
  float: none;
  width: auto;
  margin-bottom: 0;
}
.article-content .article-container {
  border-bottom: 1px solid #e5e5e5;
}
.article-content #articles-container {
  max-width: inherit;
  min-width: inherit;
  padding-bottom: 35px;
}
.article-content .article-likes .likes-text {
  line-height: inherit;
}
.article-content .article-likes .likes-count {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  text-shadow: none;
}
.article-content .author-options {
  width: auto;
  margin: 0;
  line-height: 30px;
}
.article-content .author-options .edit,
.article-content .author-options .delete {
  background: none;
  margin-right: 0;
  margin-left: 10px;
  text-align: center;
  color: #bbb;
  border-radius: 4px;
  display: block;
  float: left;
  height: 20px;
  margin-bottom: 5px;
  width: 21px;
  /* v.4.1.9 */
  background-color: transparent !important;
}
.article-content .author-options .edit:before,
.article-content .author-options .delete:before {
  content: " ";
  transition: all 0.3s ease-in-out 0s;
  /* v.4.1.9 */
  color: #fafafa !important;
  font: 20px "fontello";
  background-color: #bbb;
  border-radius: 50%;
}
.article-content .author-options .edit:hover:before,
.article-content .author-options .delete:hover:before {
  /* v.4.1.9 */
  background-color: #777;
}
.article-content .author-options .edit:before {
  content: "\e99c";
}
.article-content .author-options .delete:before {
  content: "\e99d";
}
.article-content .author-options .edit:hover,
.article-content .author-options .delete:hover {
  background: none;
}
.article-content #post-maker-container {
  float: none;
  max-width: none;
  min-width: inherit;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
}
.article-content #post-maker-container .options {
  float: none;
}
.article-content #post-maker-container .title-input {
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: inherit !important;
  font-size: 22px !important;
  font-weight: 300 !important;
  height: auto !important;
  margin-bottom: 20px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
  clear: both;
}
.article-content #post-maker-container .options-content,
.article-content #post-maker-container .options-content-second,
.article-content #post-maker-container .post-status-container {
  float: left;
  position: relative;
  display: inline-block;
  border: 1px solid #e5e5e5;
  background: #f7f7f7;
  margin-bottom: 10px;
  padding: 10px;
}
.article-content #post-maker-container .options-content {
  width: 50%;
}
.article-content #post-maker-container .options-content-second {
  margin-left: -1px;
  width: 50%;
}
.article-content #post-maker-container .post-status-container {
  float: left;
  margin-right: 0;
  width: 100% !important;
  border: none;
  background: none;
}
@media (max-width: 991px) {
  .article-content #post-maker-container .options-content {
    width: 100%;
  }
  .article-content #post-maker-container .options-content-second {
    margin-left: 0;
    width: 100%;
  }
}
.article-content .article-status {
  border-radius: 2px;
  float: left;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  margin-top: 5px;
  padding: 0 10px;
  width: auto;
}
.article-content .options-content .titlelabel {
  background: none;
  color: #666;
  float: left;
  font-size: 11px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  margin-bottom: 0 !important;
  padding: 0 10px 5px 5px !important;
  vertical-align: middle !important;
}
.article-content .categories-selector,
.article-content .tags-selector {
  box-shadow: none;
  border: 1px solid #e5e5e5;
  border-radius: 3px !important;
  float: left;
  font-size: 12px;
  font-weight: normal;
  height: 35px;
  line-height: 22px;
  margin: 0;
  padding: 5px 8px;
  width: auto;
}
.article-content .category-list-container,
.article-content .tags-list-container {
  top: 42px;
  border: 1px solid #e5e5e5;
  box-shadow: 2px 2px 3px rgba(102, 102, 102, 0.1);
  border-radius: 3px !important;
  left: auto;
  right: 0;
}
.article-content .white-picker,
.article-content .white-picker-t,
.article-content .picker,
.article-content .picker-t {
  top: inherit;
  left: auto;
  right: 10px;
  bottom: 17px;
  width: 20px;
  background: none;
  height: 20px;
}
.article-content .white-picker:before,
.article-content .white-picker-t:before,
.article-content .picker:before,
.article-content .picker-t:before {
  font: 20px 'fontello';
  content: '\e829';
  line-height: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
}
.article-content .white-picker:hover:before,
.article-content .white-picker-t:hover:before,
.article-content .picker:hover:before,
.article-content .picker-t:hover:before {
  color: #e5e5e5;
}
.article-content .tags-ready,
.article-content .categories-ready {
  text-align: left;
}
.article-content #wysihtml5-editor-toolbar header {
  background: #f7f7f7;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  box-shadow: none;
  display: block;
  font-size: 0;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 1;
}
.article-content .upload-controls label,
.article-content .uploading label,
.article-content .messages-container label {
  background: #f7f7f7;
  border-radius: 0;
  display: block;
  font-style: italic;
  font-size: 12px;
  padding: 10px;
}
.article-content .messages-container {
  float: none;
  max-width: none;
  min-width: inherit;
}
.article-content #wysihtml5-editor-toolbar .commands {
  border-left: none;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}
.article-content [data-wysihtml5-command],
.article-content [data-wysihtml5-action],
.article-content .fore-color {
  float: left;
  display: inline-block;
}
.article-content .fore-color ul li {
  float: none;
  border: 1px solid red;
  display: block;
}
.article-content [data-wysihtml5-command]:hover,
.article-content [data-wysihtml5-action]:hover,
.article-content .fore-color:hover {
  background: #e5e5e5;
}
.article-content .wysihtml5-action-active,
.article-content .wysihtml5-command-active {
  background: #e5e5e5 !important;
  box-shadow: none;
}
.article-content .wysihtml5-sandbox {
  -moz-box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.4);
  border-collapse: separate;
  border: 1px solid #e5e5e5 !important;
  border-top: none !important;
  border-radius: 0 !important;
  bottom: auto;
  box-shadow: none !important;
  clear: none;
  display: block;
  float: none;
  min-height: 300px !important;
  height: auto !important;
  left: auto;
  margin: 0 0 13px;
  outline: 0 none rgba(0, 0, 0, 0.75);
  outline-offset: 0;
  padding: 10px;
  position: static;
  right: auto;
  text-align: start;
  top: auto;
  vertical-align: top;
  width: 100% !important;
  z-index: auto;
}
.article-content .post-image-container {
  background: none;
  border-radius: 0 !important;
  box-shadow: none;
  float: left;
  margin-bottom: 20px !important;
  margin-top: 15px;
  min-height: 200px;
  position: relative;
  width: 100%;
}
.article-content .edit-controls {
  margin-top: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}
.article-content .notification a.social-delete {
  display: none !important;
}
.article-content .notification {
  color: #666 !important;
  font-size: 13px !important;
  height: auto !important;
  margin-top: auto !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  text-shadow: none !important;
  width: auto !important;
}
.article-content .notification a {
  display: inline !important;
  font-size: 13px !important;
  height: auto !important;
  min-width: 0 !important;
  padding: 0 !important;
  font-weight: bold;
}
.notifications .sa-notification {
  height: auto;
  margin-top: 0 !important;
  padding-left: 0 !important;
}
body.is-user-profile #item-header-avatar {
  background: transparent;
}
#buddypress .social-articles-main .article-categories {
  width: 60%;
  font-weight: bold;
  letter-spacing: 0.05em;
}
#buddypress .social-articles-main .article-likes,
#buddypress .social-articles-main .article-comments,
#buddypress .social-articles-main .date,
#buddypress .social-articles-main .likes-count {
  font-weight: bold;
  letter-spacing: 0.05em;
}
.more-articles-button-container input.button {
  height: 40px !important;
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.navbar .sa-notification {
  min-height: 0 !important;
  margin-bottom: 0 !important;
  line-height: normal !important;
}
li.kleo-notifications-nav .kleo-submenu-item > a {
  line-height: 20px;
}
.navbar .sa-notification a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block !important;
  width: 50px;
  white-space: nowrap;
  vertical-align: bottom;
}
.navbar .sa-notification a.social-delete {
  width: 20px !important;
  text-align: center;
  border-radius: 50%;
  top: 6px;
  display: none !important;
}
.kleo-notifications-nav ul.submenu-inner.has-notif li:before {
  top: 4px;
}
/* --------------------------------------------------
    YITH WooCommerce Wishlist - KLEO Compatibility
----------------------------------------------------- */
.yith-wcwl-add-to-wishlist {
  height: 30px;
  z-index: 10;
  display: inline-block !important;
}
.product-loop-inner .yith-wcwl-add-to-wishlist {
  position: absolute;
  right: 15px;
  top: 15px;
}
.product-loop-inner .yith-wcwl-add-to-wishlist img.ajax-loading {
  position: absolute;
  top: 30px;
  right: 0px;
}
.yith-wcwl-wishlistexistsbrowse .feedback,
.yith-wcwl-wishlistaddedbrowse .feedback {
  display: none;
}
.yith-wcwl-wishlistexistsbrowse a,
.yith-wcwl-add-button a.add_to_wishlist,
.yith-wcwl-wishlistaddedbrowse a {
  display: inline-block;
  position: relative;
  background: #fff;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 16px;
  white-space: nowrap;
  text-align: left;
  padding: 2px 4px;
  border-radius: 2px;
  margin-right: 20px;
}
.yith-wcwl-wishlistexistsbrowse a:before,
.yith-wcwl-add-button a.add_to_wishlist:before,
.yith-wcwl-wishlistaddedbrowse a:before {
  font-family: 'fontello';
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: 2px;
  right: -22px;
  text-align: center;
  text-indent: 0;
  text-transform: none;
}
.yith-wcwl-add-button a.add_to_wishlist:before {
  content: "\e812";
}
.yith-wcwl-wishlistexistsbrowse a:before {
  content: "\e821";
}
.yith-wcwl-wishlistaddedbrowse a:before {
  content: "\e821";
}
.yith-wcwl-add-to-wishlist a {
  color: #777;
  transition: all 200ms ease-out 0s;
}
.product-loop-inner .yith-wcwl-add-to-wishlist a {
  opacity: 0;
}
.entry-summary .yith-wcwl-add-to-wishlist a {
  opacity: 0.5;
}
.entry-summary .yith-wcwl-add-to-wishlist {
  margin-top: 10px;
  margin-left: 10px;
}
.entry-summary form.cart,
.entry-summary .yith-wcwl-add-to-wishlist {
  display: inline-block !important;
  float: left;
}
.woocommerce ul.products li.product:hover .yith-wcwl-add-to-wishlist a {
  opacity: 0.5;
}
.yith-wcwl-add-to-wishlist a:hover {
  opacity: 1;
}
.yith-wcwl-share {
  display: none;
}
@media screen and (max-width: 480px) {
  .yith-wcwl-add-to-wishlist a {
    opacity: 1;
  }
}
/* --------------------------------------------------
    GEO my WP - KLEO Compatibility
----------------------------------------------------- */
.gmw-single-member-sc-form-wrapper {
  padding: 20px 0;
}
.gmw-single-member-sc-form-wrapper input[type=text] {
  float: left;
}
.gmw-single-member-sc-form-wrapper input.button {
  height: 33px !important;
  line-height: 33px !important;
  margin-left: 10px;
}
.gmw-single-member-sc-form-wrapper br {
  display: none;
}
.gmw-single-member-sc-direction-wrapper {
  padding: 10px 0;
}
.gmw-single-member-sc-address-wrapper:before {
  font-family: 'fontello';
  content: "\e99f";
  margin-right: 10px;
}
#gmw-fl-your-location {
  margin: 20px 0;
}
#gmw-fl-your-location-wrapper {
  margin-bottom: 30px;
}
#gmw-fl-location-map-wrapper {
  margin-bottom: 30px;
}
.gmw-fl-location-fields-title {
  padding-top: 20px;
}
/* --------------------------------------------------
    BuddyPress Group Email Subscription - KLEO Compatibility
----------------------------------------------------- */
#groups-list .group-subscription-options {
  width: auto;
  background: #fff;
}
#buddypress .member-options .ass_manage_members_links {
  padding-top: 0;
  text-transform: uppercase;
  /*font-family: 'Open Sans', sans-serif;*/
}
#ass-email-subscriptions-options-page form input {
  margin: 10px;
}
#ass-email-subscriptions-options-page form label {
  margin-bottom: 0px;
}
.ass-email-type .ass-email-explain {
  margin-left: 33px !important;
  margin-bottom: 6px !important;
  color: #777 !important;
  font-size: 12px !important;
}
#buddypress #groups-list li div.action {
  position: initial;
}
#groups-list .group-subscription-options {
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  margin: 10px 10px !important;
  width: auto;
  background-color: #fff;
  padding: 9px;
  text-align: center;
  font-size: 9px;
  border: 1px solid #efefef;
  border-bottom: 0;
  z-index: 10;
}
#groups-list .group-subscription-options a {
  min-width: 130px;
}
#groups-list .group-subscription-options a.group-sub {
  background-color: #fafafa;
  margin-bottom: 2px;
  display: block;
}
#groups-list .group-subscription-options a.group-subscription-close {
  background-color: #fafafa;
}
#groups-list #gsubclose-1 {
  background-color: #fafafa;
}
#buddypress #groups-list li div.action div.group-subscription-options {
  display: none;
}
#gsubopt-1.generic-button.group-subscription-options {
  background-color: #fff;
  border: 1px solid #efefef;
  font-size: 9px;
  margin: 0 auto !important;
  padding: 2% 25%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 99;
}
#gsubopt-1.generic-button.group-subscription-options a.group-sub {
  background-color: #fafafa;
  margin-bottom: 2px;
  display: block;
}
@media (max-width: 640px) {
  #gsubopt-1.generic-button.group-subscription-options {
    padding: 2% 15%;
  }
}
/* --------------------------------------------------
    Cometchat - KLEO Compatibility
----------------------------------------------------- */
#cometchat *,
#cometchat_hidden_content {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
/* --------------------------------------------------
    Visual composer - KLEO Compatibility
----------------------------------------------------- */
body.compose-mode .section-container.container > .row {
  overflow: inherit;
}
body.compose-mode .vc-element:hover .row > .vc-element:before,
body.compose-mode .vc-element.vc-hover .row > .vc-element:before,
body.compose-mode .vc-element.vc-hold-hover .row > .vc-element:before {
  content: "";
  height: 100%;
  left: 0;
  margin: 0;
  outline: 1px dashed rgba(125, 125, 125, 0.4);
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
body.compose-mode .vc-element .row {
  margin-left: 0;
  margin-right: 0;
}
i.icon {
  height: auto;
  line-height: inherit;
  margin-left: 0;
  vertical-align: baseline;
  width: 1em;
}
.vc_message_box > p:first-of-type {
  margin-top: 0;
}
.vc_row-o-full-height {
  min-height: 100vh;
}
/*.vc_row-o-content-middle {
	align-items: center;
	box-sizing: border-box;
	display: flex;
}*/
/* 5 columns layout */
.wpb_row .vc_1-5,
.row .col-sm-1-5,
.wpb_row .vc_2-5,
.row .col-sm-2-5,
.wpb_row .vc_3-5,
.row .col-sm-3-5,
.wpb_row .vc_4-5,
.row .col-sm-4-5 {
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (min-width: 768px) {
  .wpb_row .vc_1-5,
  .row .col-sm-1-5 {
    float: left;
    width: 20%;
  }
  .wpb_row .vc_2-5,
  .row .col-sm-2-5 {
    float: left;
    width: 40%;
  }
  .wpb_row .vc_3-5,
  .row .col-sm-3-5 {
    float: left;
    width: 60%;
  }
  .wpb_row .vc_4-5,
  .row .col-sm-4-5 {
    float: left;
    width: 80%;
  }
}
.wpb_column > .vc_column-inner > .wpb_wrapper > :last-child {
  margin-bottom: 0;
}
.vc_col-has-fill > .vc_column-inner,
.vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_row > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.vc_row-has-fill + .vc_vc_row_inner > .vc_row > .vc_vc_column_inner > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_row > .vc_vc_column > .vc_column_container > .vc_column-inner,
.vc_row-has-fill > .vc_vc_column_inner > .vc_column_container > .vc_column-inner {
  padding-top: 0;
}
/*.vc_row-has-fill>.vc_column_container>.vc_column-inner*/
/* No paddings in columns */
.no-col-gap .row {
  margin-left: 0;
  margin-right: 0;
}
.no-col-gap .col-sm-1,
.no-col-gap .col-sm-2,
.no-col-gap .col-sm-3,
.no-col-gap .col-sm-4,
.no-col-gap .col-sm-5,
.no-col-gap .col-sm-6,
.no-col-gap .col-sm-7,
.no-col-gap .col-sm-8,
.no-col-gap .col-sm-9,
.no-col-gap .col-sm-10,
.no-col-gap .col-sm-11,
.no-col-gap .col-sm-12 {
  padding: 0;
}
.no-col-gap .vc_row > .vc_column_container,
.no-col-gap .vc_row > .vc_column_container > .vc_column-inner {
  padding: 0;
}
.vertical-col .section-container .vc_row {
  box-sizing: border-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.vertical-col .section-container .vc_row .vc_column_container {
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.vertical-col .section-container .vc_row .vc_column_container .vc_column-inner {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.vertical-col .vc_row::after,
.vertical-col .vc_row::before {
  display: none;
}
/* Keep this block only for back-end user compatibility  */
.vertical-col .col-sm-1 .wpb_single_image img,
.vertical-col .col-sm-2 .wpb_single_image img,
.vertical-col .col-sm-3 .wpb_single_image img,
.vertical-col .col-sm-4 .wpb_single_image img,
.vertical-col .col-sm-5 .wpb_single_image img,
.vertical-col .col-sm-6 .wpb_single_image img,
.vertical-col .col-sm-7 .wpb_single_image img,
.vertical-col .col-sm-8 .wpb_single_image img,
.vertical-col .col-sm-9 .wpb_single_image img,
.vertical-col .col-sm-10 .wpb_single_image img,
.vertical-col .col-sm-11 .wpb_single_image img,
.vertical-col .col-sm-12 .wpb_single_image img,
.vertical-col .vc_column_container .wpb_single_image img {
  width: 100%;
}
/* End keep this */
.bg-center > .vc_column-inner {
  background-position: center !important;
}
.bg-no-repeat > .vc_column-inner {
  background-repeat: no-repeat !important;
}
.vc_row.vc_row-flex > .section-container::after,
.vc_row.vc_row-flex > .section-container::before {
  display: none;
}
.vc_row.vc_row-flex > .section-container {
  box-sizing: border-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.vc_row.vc_row-flex > .section-container {
  width: 100%;
}
.vc_row.vc_row-flex > .section-container > .vc_column_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
.vc_row.vc_row-flex > .section-container > .vc_column_container {
  display: flex;
}
.vc_row.vc_row-flex > .section-container > .vc_column_container > .vc_column-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
.vc_row.vc_row-flex > .section-container > .vc_column_container > .vc_column-inner {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.vc_row.vc_row-o-content-top > .section-container > .vc_column_container > .vc_column-inner {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.vc_row.vc_row-o-content-top:not(.vc_row-o-equal-height) > .section-container > .vc_column_container {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.vc_row.vc_row-o-content-bottom > .section-container > .vc_column_container > .vc_column-inner {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.vc_row.vc_row-o-content-bottom:not(.vc_row-o-equal-height) > .section-container > .vc_column_container {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.vc_row.vc_row-o-content-middle > .section-container > .vc_column_container > .vc_column-inner {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.vc_row.vc_row-o-content-middle:not(.vc_row-o-equal-height) > .section-container > .vc_column_container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.vc_row.vc_row-o-equal-height > .section-container > .vc_column_container {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.vc_row.vc_column-gap-1 > .section-container > .vc_column_container {
  padding: 0.5px;
}
.vc_row.vc_column-gap-2 > .section-container > .vc_column_container {
  padding: 1px;
}
.vc_row.vc_column-gap-3 > .section-container > .vc_column_container {
  padding: 1.5px;
}
.vc_row.vc_column-gap-4 > .section-container > .vc_column_container {
  padding: 2px;
}
.vc_row.vc_column-gap-5 > .section-container > .vc_column_container {
  padding: 2.5px;
}
.vc_row.vc_column-gap-10 > .section-container > .vc_column_container {
  padding: 5px;
}
.vc_row.vc_column-gap-15 > .section-container > .vc_column_container {
  padding: 7.5px;
}
.vc_row.vc_column-gap-25 > .section-container > .vc_column_container {
  padding: 12.5px;
}
.vc_row.vc_column-gap-30 > .section-container > .vc_column_container {
  padding: 15px;
}
.vc_row.vc_column-gap-35 > .section-container > .vc_column_container {
  padding: 17.5px;
}
@media (max-width: 767px) {
  .vc_custom_heading {
    word-wrap: break-word;
  }
}
.kleo-gradient {
  position: relative;
}
.kleo-gradient:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,3a2e3a+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, #3a2e3a 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, #3a2e3a 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, #3a2e3a 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007db9e8', endColorstr='#3a2e3a', GradientType=0);
  /* IE6-9 */
}
/* TEMP until VC fixes it */
.vc_gitem-col > .wpb_single_image.wpb_animate_when_almost_visible {
  opacity: 1;
  filter: alpha(opacity=1);
}
/* ZoomIn & Shadow Style for Single Image */
.zoomin-shd-singleimg .vc_figure {
  transition: box-shadow 0.4s;
}
.zoomin-shd-singleimg .vc_figure:hover {
  box-shadow: 0 12px 42px 12px rgba(0, 0, 0, 0.08);
}
.zoomin-shd-singleimg .vc_figure .vc_single_image-img {
  transition: transform 0.4s;
}
.zoomin-shd-singleimg .vc_figure:hover .vc_single_image-img {
  transform: scale(1.05);
}
.zoomin-shd-singleimg.wpb_single_image .vc_figure {
  overflow: hidden;
}
/* Progress bar slim style */
.slim-style .vc_single_bar {
  border-radius: 10px;
  height: 10px;
  margin-bottom: 54px;
  margin-top: 50px;
}
.slim-style .vc_single_bar .vc_label {
  position: absolute;
  top: -40px;
  left: 0;
}
.slim-style .vc_single_bar .vc_bar {
  border-radius: 10px;
  height: 10px;
}
.kleo-transform .vc_editor .animated.animate-when-visible,
.kleo-transform .vc_editor .animated.animate-when-almost-visible {
  opacity: 1;
}
/* --------------------------------------------------
    Ultimate Addons for Visual Composer - KLEO Compatibility
----------------------------------------------------- */
.article-content .container-wrap {
  position: relative;
}
/* --------------------------------------------------
	TS Visual composer extend - KLEO Compatibility
----------------------------------------------------- */
.ts-icon-title-text {
  background: none repeat scroll 0 0 #fff;
  display: inline-block;
  padding: 0 20px;
}
/* Comapbility for example VC ADDONS*/
.vc-row-translate-wrapper {
  background: transparent;
}
/* --------------------------------------------------
    MailChimp - KLEO Compatibility
----------------------------------------------------- */
.mc4wp-form .form-inline input {
  font-size: 16px;
}
.mc4wp-form .form-inline input[type="email"] {
  height: 52px;
  display: inline-block;
}
.mc4wp-form .form-inline a.btn {
  margin: 0 10px;
  vertical-align: inherit;
}
.mc4wp-form-fields input[type="email"].input-lg {
  padding: 14px 20px;
}
.mc4wp-form .input-special {
  /* v.4.1.9 */
  border-radius: 30px;
  text-align: center;
  width: 50%;
  margin-right: 20px !important;
  margin-left: 20px !important;
}
/* --------------------------------------------------
	Events manager - KLEO Compatibility
----------------------------------------------------- */
div.css-search.has-search-geo.has-search-term input.em-search-text,
div.css-search.has-search-geo.has-search-term input.em-search-geo {
  width: auto !important;
  display: inline;
}
div.css-search input,
div.css-search select {
  display: inline-block;
}
/* --------------------------------------------------
	MyCred - KLEO Compatibility
----------------------------------------------------- */
#mycred-users-badges img.mycred-badge {
  width: 30px;
  margin: 5px;
}
/* --------------------------------------------------
	BuddyPress Cover photo - KLEO Compatibility
----------------------------------------------------- */
.profile-cover-action {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 4;
  /* v.4.1.9 */
  transition: top 0.5s, margin-top 0.5s;
}
.buddypress.bp-header-small .profile-cover-action {
  top: 67px;
}
.buddypress .profile-cover-action a.button {
  white-space: nowrap;
  line-height: 30px !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 40px;
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 !important;
  border: none !important;
  text-align: left !important;
}
.buddypress.is-user-profile .profile-cover-action a.button {
  color: rgba(255, 255, 255, 0.7) !important;
}
.buddypress .profile-cover-action a.button:before {
  display: inline-block;
  font: 16px 'fontello';
  /*content: "\e81c";*/
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px !important;
  line-height: 30px;
  margin-right: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* v.4.1.9 */
  content: "\e9c3";
}
.buddypress.is-user-profile .profile-cover-action a.button:before {
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.6);
}
.buddypress.is-user-profile .profile-cover-action a.button:hover:before {
  color: rgba(255, 255, 255, 0.9);
}
.buddypress .profile-cover-action a.button:hover {
  width: 140px;
}
.buddypress.is-user-profile .profile-cover-action a.button:hover {
  background-color: transparent !important;
}
body.is-user-profile div#item-header div#item-header-content {
  z-index: 2;
  position: relative;
}
body.is-user-profile div#item-header div#item-meta {
  margin-top: 5px;
}
body.is-user-profile #item-header-avatar {
  box-shadow: none;
  /* v.4.1.9 */
  border-color: rgba(255, 255, 255, 0.2) !important;
}
body.bp-header-small .bp-full-width-profile div#item-header {
  padding-bottom: 40px;
}
body.is-user-profile .bp-full-width-profile div#item-header {
  padding: 80px 10px;
  margin-top: 0;
}
body.is-user-profile.bp-header-small .bp-full-width-profile div#item-header {
  padding-bottom: 40px;
  padding-top: 40px;
}
.buddypress :not(div.youzer) div.generic-button a {
  /* v.4.1.9 */
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  height: 35px;
  line-height: 35px;
}
.bp-full-width-profile div.generic-button a {
  /* v.4.1.9 */
  border: 0 !important;
  background: rgba(255, 255, 255, 0.2);
}
body.is-user-profile #item-header div#message {
  position: absolute;
}
.bp-full-width-profile #item-header-avatar {
  box-shadow: none;
}
body.is-user-profile.bp-header-small #item-header-avatar {
  box-shadow: none;
}
.is-user-profile div#item-header div#item-header-content h4,
.is-user-profile div#item-header div#item-header-content a,
.is-user-profile div#item-header div#item-header-content .label,
.is-user-profile div#item-header div#item-header-content span.activity,
.buddypress.is-user-profile div#item-header div#item-actions h3,
.is-user-profile div#item-header div#item-meta {
  color: #fff !important;
}
.is-user-profile div#item-header div#item-header-content .generic-button a:hover {
  color: #444 !important;
}
body.is-user-profile #item-header-avatar {
  border-width: 6px;
}
body.is-user-profile .profile-cover-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.45) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.45)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.45) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.45) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.45) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.45) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-9 */
}
body.is-user-profile.bp-header-small:not(.bp-overlay-menu) .profile-cover-inner {
  background: none;
}
/* --------------------------------------------------
   BP Profile search - KLEO Compatibility
----------------------------------------------------- */
.bps-form input.form-control {
  margin-bottom: 0;
}
/* Large form */
.bps-form-large {
  text-align: center;
}
.bps-form-large .form-group {
  margin-right: 10px;
  margin-bottom: 10px;
}
.bps-form-large .form-control {
  font-size: 16px;
  line-height: normal;
}
.bps-form .btn-lg {
  height: 45px;
  line-height: 15px;
  margin-top: 0;
  vertical-align: top;
}
.bps-form-large .radio input[type="radio"],
.bps-form-large .checkbox input[type="checkbox"] {
  margin-right: 5px;
}
.bps-form-large p.description {
  font-style: italic;
  color: #fff;
}
html.js .bps-form select.multi-js {
  display: none;
}
.bps-form .input-range {
  width: 130px;
}
.multiselect-container li {
  text-align: left;
}
button.multiselect {
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 20px;
  text-align: left;
}
button.multiselect .caret {
  float: right;
}
button.multiselect .caret {
  line-height: 20px;
}
button.multiselect.btn-lg .caret {
  line-height: initial;
  float: right;
}
ul.multiselect-container {
  z-index: 3;
}
.multiselect-container label.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
.bps-form-legacy button.multiselect,
.bps-form-legacy .btn-group {
  width: 100%;
}
@media (max-width: 767px) {
  .bps-form .btn-group,
  .bps-form .btn-group button,
  .bps-form .input-range {
    width: 100%;
  }
}
.bps-distance-units {
  margin-top: 1px;
}
.form-inline .bps-distance-units {
  width: 7em;
}
.form-inline .bps-distance-input {
  width: 80px;
}
.bps-form-labels .bps-distance-group .col-sm-12 {
  max-width: 400px;
}
#buddypress .item-list-tabs.bps_header {
  margin: 0 0 10px 0;
}
#buddypress .item-list-tabs.bps_header li.last {
  margin: -8px 0 0 0;
}
.form-inline .bps-location-selector {
  position: absolute;
  right: 10px;
  top: 10px;
}
.bps-distance.form-group {
  position: relative;
}
.bps-distance input[type="text"].bps-distance-location {
  padding-right: 35px;
}
@media screen and (max-width: 768px) {
  input.form-control.input-lg.bps-distance-input,
  select.form-control.input-lg.bps-distance-units {
    width: 49.9%;
    float: left;
  }
}
/* --------------------------------------------------
    Mediaelement - KLEO Compatibility
----------------------------------------------------- */
.mejs-container.mejs-audio {
  /*height: 30px !important;*/
}
.kleo-video-wrap *,
.post-audio * {
  outline: none !important;
}
/* Start: LAYERS */
.mejs-poster {
  background-size: cover;
}
.mejs-overlay {
  width: 100% !important;
}
.mejs-overlay-button {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px !important;
}
.mejs-overlay-button:before {
  font-family: "fontello";
  font-size: 22px;
  content: "\e8c4";
  color: #fff;
  display: block;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding-left: 5px;
  /* Temporary */
}
/* End: LAYERS */
/* Start: CONTROL BAR */
.mejs-container .mejs-controls {
  background: none;
  font-size: 11px !important;
  /*overflow: hidden;*/
}
/* rtMedia compatibility */
.rtm-lightbox-container .mejs-container .mejs-controls {
  background: rgba(255, 255, 255, 0.2) !important;
}
.mejs-container.mejs-audio div.mejs-volume-button {
  min-height: 0;
}
.mejs-container .mejs-controls > div {
  min-height: 26px;
  height: auto;
}
.mejs-controls .mejs-button button {
  background-image: none;
  line-height: 0 !important;
  margin: 13px 5px;
}
.mejs-controls .mejs-button button:before {
  font-family: "fontello";
  font-size: 13px;
  color: #000;
  display: inline-block;
}
/* End: CONTROL BAR */
/* Start: Time (current / duration) */
.mejs-container .mejs-controls .mejs-time {
  min-height: 0;
}
/* rtMedia compatibility */
body[class*="rtm-3.7"] .rtmedia-activity-container .mejs-time {
  margin: 2px !important;
}
.mejs-container .mejs-controls .mejs-time {
  padding: 16px 3px 0;
}
.mejs-container .mejs-controls .mejs-time span {
  color: #000;
}
/* rtMedia compatibility */
.rtmedia-activity-container .mejs-time.mejs-currenttime-container {
  /*display: none;*/
}
/* End: Time (current / duration) */
/* Start: Play/pause */
.mejs-controls .mejs-play button:before {
  content: "\e8c4" !important;
}
.mejs-controls .mejs-pause button:before {
  content: "\e8c8" !important;
}
.mejs-overlay-loading,
.mejs-overlay-loading span {
  background: none !important;
}
/* End: Play/pause */
/* Stop */
/* End: Play/pause */
/* Start: Progress bar */
.mejs-controls div.mejs-time-rail {
  margin: 0 10px 0 0;
  padding-top: 12px;
}
.mejs-controls .mejs-time-rail a {
  height: 4px;
}
.mejs-controls .mejs-time-rail span {
  border-radius: 0;
  height: 6px;
}
.mejs-controls .mejs-time-rail .mejs-time-total {
  background: #fff;
  margin: 6px 5px;
}
.mejs-controls .mejs-time-rail .mejs-time-total .mejs-offscreen {
  display: none;
}
/* rtMedia compatibility */
.rtm-lightbox-container .mejs-time-rail .mejs-time-total {
  background: rgba(255, 255, 255, 0.5);
}
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #000;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
  background: #00B9F7;
}
.mejs-controls .mejs-time-rail .mejs-time-float {
  border: 1px solid #e5e5e5;
  background: #e5e5e5;
  height: 17px;
}
.rtmedia-activity-container .mejs-time-rail .mejs-time-float {
  margin-left: -17px !important;
}
/* End: Progress bar */
/* Start: Fullscreen */
.mejs-controls .mejs-fullscreen-button button:before {
  content: "\e88c";
}
.mejs-controls .mejs-unfullscreen button:before {
  content: "\e88e";
}
/* End: Fullscreen */
/* Start: Mute/Volume */
.mejs-controls .mejs-volume-button button:before {
  content: "\e887" !important;
}
.mejs-controls .mejs-mute button:before {
  content: "\e887" !important;
}
.mejs-controls .mejs-unmute button:before {
  content: "\e886" !important;
}
/* horizontal version */
.mejs-controls a.mejs-horizontal-volume-slider,
.mejs-controls div.mejs-horizontal-volume-slider {
  float: right;
}
/* rtMedia compatibility */
body[class*="rtm-3.7"] .rtmedia-activity-container .mejs-time-rail {
  margin: 9px 5px 0 0 !important;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #fff;
  border-radius: 0;
  height: 6px;
  top: 18px;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #444;
  border-radius: 0;
  height: 6px;
}
/* End: Mute/Volume */
/* Start: TRACK (Captions and Chapters) */
/* End: TRACK (Captions and Chapters) */
/* Start: ERROR */
/* End: ERROR */
/* Start: Loop */
/* End: Loop */
/* Start: backlight */
/* End: backlight */
/* Start: picture controls */
/* End: picture controls */
/* context menu */
.mejs-contextmenu {
  z-index: 1001;
  /* make sure it shows on fullscreen */
}
/* Start: SourceChooser */
/* End: SourceChooser */
/* Start: Postroll */
/* End: Postroll */
.mejs-controls * {
  outline: none !important;
}
.kleo-masonry .mejs-container.mejs-audio {
  border-bottom: 1px solid #e5e5e5;
}
.kleo-masonry .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  background: #fafafa;
}
.gdpr-reconsent-modal .gdpr-reconsent-modal-content .gdpr-consent-buttons a.gdpr-agree {
  background: #1ECD65;
  border: 0;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  overflow: hidden;
  padding: 16px 30px;
  position: relative;
  text-decoration: none;
  transition: .3s;
  vertical-align: middle;
  outline: none;
  min-width: 150px;
  text-align: center;
}
.gdpr.gdpr-privacy-bar {
  background: rgba(44, 46, 45, 0.9);
}
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content p {
  font-weight: 300;
}
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content p a {
  color: #60C2FB;
  transition: .3s;
  text-decoration: none;
}
.gdpr.gdpr-privacy-bar .gdpr-wrapper .gdpr-content p a:hover {
  color: #E9F6FD;
}
.gdpr.gdpr-privacy-bar .gdpr-agreement {
  border-radius: 3px;
  padding: 2px 20px;
  box-shadow: none;
  border: 0;
  transition: .3s;
  background: #00AAE1;
}
.gdpr.gdpr-privacy-bar .gdpr-agreement:before {
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 0;
  left: 10px;
  box-shadow: none;
}
.gdpr.gdpr-privacy-bar .gdpr-agreement:hover:before {
  font-size: 16px;
  background: transparent;
  border: 0;
  color: #fff;
}
.gdpr.gdpr-privacy-bar .gdpr-preferences {
  text-decoration: none;
  color: #60C2FB;
  transition: .3s;
}
.gdpr.gdpr-privacy-bar .gdpr-preferences:hover {
  color: #E9F6FD;
}
.gdpr.gdpr-privacy-bar .gdpr-preferences:before {
  display: none;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper form > header .gdpr-box-title {
  background: #F7FCFF;
  border-radius: 5px 5px 0 0;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper form > header .gdpr-box-title h3 {
  color: #1C2525 !important;
  font-weight: 400 !important;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper form > header .gdpr-box-title .gdpr-close,
.gdpr.gdpr-general-confirmation .gdpr-wrapper form > header .gdpr-box-title .gdpr-close {
  color: #1C2525;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper form > header .gdpr-box-title .gdpr-close:hover:before,
.gdpr.gdpr-general-confirmation .gdpr-wrapper form > header .gdpr-box-title .gdpr-close:hover:before {
  transform: none;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-content {
  background: #fff;
  border-radius: 0 0 5px 5px;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-content .gdpr-tabs {
  background-color: #ade0ff;
  border-radius: 0 5px 0 5px;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs.gdpr-mobile-expanded,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-content .gdpr-tabs.gdpr-mobile-expanded {
  border-radius: 0 0 5px 5px;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs li button.gdpr-active:after,
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs li a.gdpr-active:after,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-content .gdpr-tabs li button.gdpr-active:after,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-content .gdpr-tabs li a.gdpr-active:after {
  border-right-color: #fff;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs li button {
  background: #60C2FB;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs li button:hover {
  background: #229FE7;
  color: #fff;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs li .gdpr-subtabs,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-content .gdpr-tabs li .gdpr-subtabs {
  background-color: #7bcdfd;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs li .gdpr-subtabs li button.gdpr-active,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-content .gdpr-tabs li .gdpr-subtabs li button.gdpr-active {
  font-weight: normal;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs li button.gdpr-active {
  background: #229FE7;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tab-content > div header h4,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-content .gdpr-tab-content > div header h4 {
  font-weight: 400 !important;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper form > footer input[type="submit"],
.gdpr.gdpr-general-confirmation .gdpr-wrapper form > footer input[type="submit"] {
  background: #00AAE1;
  border: 0;
  border-radius: 100px;
  color: #fff;
  box-shadow: none;
  padding-left: 15px;
  padding-right: 15px;
  text-shadow: none;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper form > footer span a,
.gdpr.gdpr-general-confirmation .gdpr-wrapper form > footer span a {
  text-decoration: none;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-mobile-menu button,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-mobile-menu button {
  background-color: #229FE7;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-mobile-menu button:hover,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-mobile-menu button:hover {
  color: #fff;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tab-content > div .gdpr-info .gdpr-cookies-used .gdpr-cookie-title .gdpr-always-active,
.gdpr.gdpr-general-confirmation .gdpr-wrapper .gdpr-content .gdpr-tab-content > div .gdpr-info .gdpr-cookies-used .gdpr-cookie-title .gdpr-always-active {
  background-color: #00AAE1;
}
ul.gdpr-subtabs {
  padding-left: 14px !important;
}
ul.gdpr-subtabs button.gdpr-active {
  color: #186367 !important;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs li .gdpr-subtabs li button:hover {
  color: #186367 !important;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs li a {
  background: #7bcdfd;
  color: #fff !important;
  transition: .3s;
}
.gdpr.gdpr-privacy-preferences .gdpr-wrapper .gdpr-content .gdpr-tabs li a:hover {
  background: #229FE7;
}
@media (min-width: 768px) {
  body .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  body .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  body .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1170px;
  }
}
@media (min-width: 1440px) {
  body .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1280px;
  }
}
.elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
  padding: 15px;
}
/* --------------------------------------------------
	Youzer Plugin - KLEO Compatibility
----------------------------------------------------- */
.youzer .callout-blockquote blockquote {
  border: none;
}
.youzer .widget_bps_widget {
  padding: 10px 20px;
}
.youzer .widget_bps_widget .widget-title {
  margin-bottom: 15px;
  padding: 10px 5px;
}
.youzer .widget_bps_widget .description {
  margin-top: 7px;
}
.youzer .widget_bps_widget .form-submit {
  border: 1px solid;
}
.youzer .widget_bps_widget .form-submit:hover {
  background: none;
}
/* --------------------------------------------------
	Learndash Plugin - KLEO Compatibility
----------------------------------------------------- */
.kleo-page .wpProQuiz_content .wpProQuiz_questionListItem input {
  visibility: visible !important;
  opacity: 1 !important;
}
.wcvendors ul {
  padding-left: 0;
}
.wcvendors .button,
.wcvendors .wcv-button {
  margin: 0;
  line-height: normal !important;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  overflow: visible;
  padding: 0.75em 1em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  left: auto;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #777777;
  border-style: solid;
  border-width: 1px;
  white-space: nowrap;
  display: inline-block;
  transition: all 0.4s ease-in-out 0s;
  min-width: 80px;
}
.wcvendors .button:hover,
.wcvendors .wcv-button:hover {
  transition: all 0.4s ease-in-out 0s;
  text-decoration: none;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  color: #4c4c4c;
}
.wcvendors .btn.btn-inverse {
  background-color: #111111;
  border: 1px solid #111111;
  color: #f7f7f7;
}
.wcvendors .btn.btn-inverse.btn-small {
  margin: 0;
}
.wcvendors .btn.btn-inverse:hover {
  background-color: #4a4a4a;
  color: #f7f7f7;
}
.wcvendors input[type=text],
.wcvendors input[type=date],
.wcvendors input[type=submit] {
  font-family: inherit;
  line-height: normal !important;
  padding: 0.75em 1em;
  font-size: 13px;
}
.wcvendors .table-condensed thead > tr > th,
.wcvendors .table-condensed tbody > tr > th,
.wcvendors .table-condensed tfoot > tr > th,
.wcvendors .table-condensed thead > tr > td,
.wcvendors .table-condensed tbody > tr > td,
.wcvendors .table-condensed tfoot > tr > td {
  padding: 14px;
}
.wcvendors .table thead > tr > th,
.wcvendors .table tbody > tr > th,
.wcvendors .table tfoot > tr > th,
.wcvendors .table thead > tr > td,
.wcvendors .table tbody > tr > td,
.wcvendors .table tfoot > tr > td {
  padding: 14px;
}
.wcvendors table.wcv-table tr td,
.wcvendors table.wcv-table tr th {
  border-color: #dddddd;
}
.wcvendors .wc-item-meta {
  list-style: none;
  padding-left: 0;
}
.wcvendors .control-group select {
  line-height: 38px;
  height: 38px;
}
.wcvendors .wcv_actions {
  margin-bottom: 1rem;
}
.wcvendors .select2-container--default .select2-selection--single {
  border-color: #dddddd;
  height: 39px;
  margin: 0;
}
.wcvendors .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 39px;
}
.wcvendors .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 39px;
}
.wcvendors .select2-container--default .select2-selection--multiple {
  border-color: #dddddd;
}
.wcvendors .woocommerce-pagination {
  text-align: right;
}
.wcvendors .woocommerce-pagination .page-numbers {
  margin: 0;
}
.wcvendors .woocommerce-pagination .page-numbers li {
  display: inline-block;
  margin: 0;
  padding: 0.5em;
}
.wcvendors .woocommerce-message {
  margin-bottom: 1em;
}
.wcv-vendor-dashboard-page form p input[name=start_date],
.wcv-vendor-dashboard-page form p input[name=end_date] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.wcv-vendor-dashboard-page form p label,
.wcv-vendor-dashboard-page form p input {
  float: left;
}
.wcv-vendor-dashboard-page form p label {
  padding: 0.65em;
}
.wcv-vendor-dashboard-page form p input + input {
  margin-left: 1em !important;
}
.order-comments-link p {
  margin: 0;
}
.order-comments {
  overflow: hidden;
}
.wcv-shop-settings-page .form-row .input-checkbox + .checkbox {
  display: inline-block;
  padding-left: 10px;
}
.pv_paypal_container p > br + input {
  margin-top: 10px;
}
.table-vendor-sales-report {
  margin-top: 20px;
}
.wcvendors-pro nav.wcv-navigation ul.menu {
  padding-left: 10px;
}
.wcvendors-pro nav.wcv-navigation ul.menu.horizontal li {
  margin-right: 2px;
}
.wcvendors-pro .wcv-button:hover {
  color: inherit !important;
}
.wcvendors-pro .row-actions-product a {
  margin-right: 5px;
}
.wcvendors-pro .row-actions-product a:hover {
  opacity: 0.7;
}
.wcvendors-pro .row-actions-order a {
  margin-bottom: 5px;
}
.wcvendors-pro .wcv-tabs .tabs-nav li.active {
  line-height: 1.8;
}
.wcvendors-pro .wcv-tabs .tabs-nav li a:hover {
  text-decoration: none;
  color: #555;
}
.wcvendors-pro .wcv_shipping_rates thead tr th {
  background-color: #fafafa;
}
.wcvendors-pro .wcv_shipping_rates input[type="text"] {
  margin-bottom: 0;
}
.wcvendors-pro .ui-sortable .override label {
  margin-left: 0.5em;
}
