/* -----------------------------------------
   [kleo_register] - SHORTCODE
----------------------------------------- */


/* Kleo Register Inline */

@media screen and (min-width: 767px) {
  .kleo-form-register .first-col{
    padding-right: 6px;
  }
  .kleo-form-register .last-col{
    padding-left: 6px;
  }
}


.kleo-register-inline .kleo-form-register,
.kleo-register-inline .kleo-form-signin{
  padding: 0;
}

.kleo-register-style-white input[type="text"],
.kleo-register-style-white input[type="password"] {
  border:1px solid rgba(255,255,255, 0.6) !important;
  background: rgba(255,255,255, 0.4);
  color: rgba(0,0,0, 0.6) !important;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.kleo-register-style-white input[type="text"]:focus,
.kleo-register-style-white input[type="password"]:focus {
  border:1px solid rgba(255,255,255, 1) !important;
  background: rgba(255,255,255, 0.8);
  color: rgba(0,0,0, 1) !important;
}

.kleo-register-style-white input::-webkit-input-placeholder {
  color: rgba(0,0,0, 0.4) !important;
}
.kleo-register-style-white input :-moz-placeholder {
  color: rgba(0,0,0, 0.4) !important;
}
.kleo-register-style-white input::-moz-placeholder {
  color: rgba(0,0,0, 0.4) !important;
}
.kleo-register-style-white input:-ms-input-placeholder {
  color: rgba(0,0,0, 0.4) !important;
}
.kleo-register-style-white input::-ms-input-placeholder {
  color: rgba(0,0,0, 0.4) !important;
}
.kleo-register-style-white input:placeholder-shown {
  color: rgba(0,0,0, 0.4) !important;
}

.kleo-register-style-white button.btn-default{
  border:none;
  background: rgba(255,255,255, 0.75);
  color: rgba(0,0,0, 0.6);
  text-transform: uppercase;
}
.kleo-register-style-white button.btn-default:hover{
  background: rgba(255,255,255, 0.9);
  color: rgba(0,0,0, 0.8);
}


.kleo-register-style-black input[type="text"],
.kleo-register-style-black input[type="password"] {
  border:1px solid rgba(0,0,0, 0.2) !important;
  background: rgba(0,0,0, 0.1);
  color: rgba(255,255,255, 0.6) !important;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.kleo-register-style-black input[type="text"]:focus,
.kleo-register-style-black input[type="password"]:focus {
  border:1px solid rgba(0,0,0, 0.3) !important;
  background: rgba(0,0,0, 0.2);
  color: rgba(255,255,255, 1) !important;
}

.kleo-register-style-black input::-webkit-input-placeholder {
  color: rgba(255,255,255, 0.6) !important;
}
.kleo-register-style-black input :-moz-placeholder {
  color: rgba(255,255,255, 0.6) !important;
}
.kleo-register-style-black input::-moz-placeholder {
  color: rgba(255,255,255, 0.6) !important;
}
.kleo-register-style-black input:-ms-input-placeholder {
  color: rgba(255,255,255, 0.6) !important;
}
.kleo-register-style-black input::-ms-input-placeholder {
  color: rgba(255,255,255, 0.6) !important;
}
.kleo-register-style-black input:placeholder-shown {
  color: rgba(255,255,255, 0.6) !important;
}

.kleo-register-size-large input[type="text"],
.kleo-register-size-large input[type="password"],
.kleo-register-size-large input[type="text"]:focus,
.kleo-register-size-large input[type="password"]:focus{
  height: 50px;
  padding: 10px 15px;
  border-width: 2px !important;
}

.kleo-register-style-black button.btn-default{
  border:none;
  background: rgba(0,0,0, 0.5);
  color: rgba(255,255,255, 0.6);
  text-transform: uppercase;
}
.kleo-register-style-black button.btn-default:hover{
  background: rgba(0,0,0, 0.8);
  color: rgba(255,255,255, 0.8);
}

.kleo-register-inline .col-sm-12{ position: initial; }
