div .logo {
  float: left;
  margin-right: 20px;
}

.logo, .logo a {
  display: block;
  height: 100%;
  /*overflow: hidden;*/
  position: relative;
  font-size: 22px;
  font-weight: 100;
  width: auto;
}

.logo img {
  /*display: block;*/
  /*height: 100%;*/
  margin-top: -6px;
  max-height: 100%;
  width: auto;
}

.logo a, .logo img {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.social-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.top-bar {
  font-size: 12px;
  /*height: 33px;*/
  line-height: 33px;
}

.top-bar:before,
.top-bar:after {
  display: table;
  content: " ";
}

.top-bar:after {
  clear: both;
}

.top-bar:before,
.top-bar:after {
  display: table;
  content: " ";
}

.top-bar:after {
  clear: both;
}

.top-bar .dropdown-menu {
  left: -4px;
}

.top-bar .tabdrop .dropdown-menu {
  left: auto;
  right: 0;
}

.top-bar.top-bar-flex {

  display: block;
  @media (min-width: 991px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .top-social {
    flex-shrink: 1;
  }

  .top-menu {
    position: relative;
    flex-grow: 1;
  }
}


/* Top Social Icons */
#top-social {
  position: relative;
  height: 33px;
}

#top-social ul {
  padding-left: 0;
}

#top-social > ul {
  height: 33px;
}

#top-social li {
  margin-left: 0;
  padding-left: 0;
}

#top-social li,
#top-social li a,
#top-social li i,
#top-social li .ts-text {
  display: inline-block;
  position: relative;
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}

#top-social li,
#top-social li a,
#top-social li .ts-text {
  float: left;
  width: auto;
  overflow: hidden;
}

#top-social li .ts-text {
  opacity: 0;
}

#top-social li a {
  width: 33px;
  line-height: 33px;
  border-right-width: 1px;
  border-right-style: solid;
  margin-left: 1px;

}

#top-social li:last-child a {
  border-right: none;
}

#top-social li:hover,
#top-social li a:hover {
  text-decoration: none;
}

#top-social li a:hover .ts-text {
  opacity: 1;
}

#top-social li i {
  float: left;
}

#top-social li.tabdrop {
  overflow: visible;
}

#top-social .dropdown-menu li,
#top-social .dropdown-menu li a,
#top-social .dropdown-menu li .ts-text {
  opacity: 1;
  padding: 0;
}

#top-social .dropdown-menu li,
#top-social .dropdown-menu li a {
  width: 100%
}

#top-social .tabdrop:before {
  border-left-style: solid;
  border-left-width: 1px;
  content: "\e97c";
  display: block;
  font: 16px "fontello";
  height: 33px;
  margin-left: -1px;
  padding-top: 8px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: all 0.4s ease-in-out 0s;
  width: 35px;
  z-index: 12;
}

#top-social > ul li.tabdrop a {
  border: none;
}

#top-social > ul li.tabdrop.open .dropdown-menu a {
  width: 100% !important;
}

/* Icon Shortcode */
a .link-icon {
  display: inline-block;
  margin: 0 10px;
}


/* Top Meniu Links */
.top-menu > ul {
  margin: 0;
  padding: 0;
  text-align: right;
}

.top-menu li {
  display: inline-block;
}

.top-menu li.has-submenu {
  position: relative;
}

.top-menu li > a {
  line-height: 33px;
  border-right-width: 1px;
  border-right-style: solid;
  display: inline-block;
  padding: 0 8px;
}

.top-menu li:last-child > a {
  border-right: none;
}

.top-menu .dropdown-menu a {
  border: none;
  display: block;
  line-height: 20px;
  padding: 5px 18px;
}

.top-menu ul li ul {
  text-align: left;
}

.top-menu .dropdown-menu {
  font-size: 12px;
  margin: 0;
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.1);
  min-width: 160px;
}

.top-menu .caret {
  margin-right: 6px;
}

.top-menu .caret:after {
  top: 0;
}

.top-menu .dropdown-menu li {
  display: block;
}

.top-menu .dropdown-menu li:last-child {
  border-bottom: none;
}

.top-menu .tabdrop:before {
  border-left-style: solid;
  border-left-width: 1px;
  content: "\e97c";
  display: block;
  font: 16px "fontello";
  height: 33px;
  padding-top: 7px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  transition: all 0.4s ease-in-out 0s;
  width: 35px;
  z-index: 12;
}

.top-menu .tabdrop > .dropdown-toggle {
  width: 35px;
}

.top-menu li.bp-login-nav a:before,
.top-menu li.bp-register-nav a:before {
  font-family: "fontello";
  float: left;
  display: inline-block;
  margin-right: 5px;
}

.top-menu li.bp-login-nav a:before {
  content: "\e83b";
}

.top-menu li.bp-register-nav a:before {
  content: "\e82b";
}

.top-menu ul.dropdown-menu.pull-left ul.dropdown-menu.sub-menu {
  left: 100%;
}

/* Nav Menu */
#header .is-sticky .kleo-main-header {
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  /*backface-visibility: hidden;*/
  /*transition: all 0.3s ease-in-out 0s;*/
}

#header .kleo-main-header > .container {
  animation-fill-mode: both;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.header-flexmenu {
  #header .kleo-main-header > .container {

    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    height: 100%;
  }
}

.navbar .kleo-main-header {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

@media (max-width: 991px) {

  .kleo-main-header {
    height: auto !important;
  }

  #header .kleo-main-header > .container {
    flex-direction: column;
  }

  .kleo-main-header .navbar-header {
    width: 100%;
  }
}

@media (min-width: 991px) {
  #header .kleo-main-header > .container {
    font-size: xx-large; // Small fix for inline-block elements where we don't use floats.
  }

  #header .kleo-main-header {
    .navbar-header,
    .header-banner,
    .primary-menu,
    .secondary-menu {
      font-size: small;
    }
  }

  .kleo-main-header .caret:after {
    top: 0;
  }

  .kleo-main-header .navbar-nav > li.flexMenu-viewMore > a > i {
    font-size: 230%;
    display: block;
  }
}

.navbar {
  margin-bottom: 0;
  border: none;
}

#header .navbar {
  min-height: 0;
}

@media (min-width: 991px) {
  .kleo-main-header .nav.navbar-nav {
    line-height: normal;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.navbar-header {
  /* Chrome fix */
  -webkit-transform: translateZ(0);
}

.navbar-header .logo {
  float: left;
}

.navbar-toggle {
  position: relative;
  float: none;
  padding: 9px 10px;
  margin-top: 0;
  margin-bottom: 8px;
  background-color: transparent;
  border-radius: 4px;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: red;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-collapse {
  box-shadow: none;
}

.nav-collapse ul:first-child > li {

  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  height: 100%;
}

.navbar-nav > li > a {
  margin: 0;
  padding: 0;
  line-height: 20px;
  border-radius: 0;

}

@media (min-width: 991px) {
  .navbar-nav > li > a {
    margin: 0 12px;
    font-size: 14px;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border: none;
}

.navbar .nav li a em,
.widget_nav_menu li a em {
  border-radius: 2px;
  font: 10px Arial, Helvetica, sans-serif;
  padding: 1px 3px;
  font-style: normal;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-radius: 0;
  font-size: 14px;
}

.btn-buy.btn-default {
}

.btn-buy.btn-default:hover {
  cursor: pointer;
}

.navbar-nav > li > a.btn-buy {
  padding: 0 12px;
  margin: 0;
}

@media (min-width: 992px) {
  .navbar-nav a.kleo-bp-user-avatar {
    display: inline-block;
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  padding-left: 3px;
  vertical-align: middle;
  border: none;
  content: "";
}

.caret:after {
  font-family: "fontello";
  content: "\e8a1";
  position: absolute;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 190px;
  list-style: none;
  border-radius: 0;

  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgba(102, 102, 102, 0.1);
}

.dropdown-menu li {
  display: block;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.dropdown-menu li a {
  padding: 7px 18px;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none;
  background-image: none;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #b6b5b5;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > a .caret:after {
  content: "+";
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -9px;
}

.dropdown-submenu > .dropdown-menu {
  top: -1px;
  margin-top: 0;
  border-radius: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
  /* display: block;*/
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 0;
}

.top-bar .dropdown-menu {
  z-index: 10001;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
}

.navbar .pull-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.pull-right:before {
  left: auto;
  right: 12px;
}

.navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:after {
  left: auto;
  right: 13px;
}

.navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu {
  border-radius: 0;
  left: auto;
  margin-left: 0;
  right: 100%;
  font-size: 12px;
}

.navbar .pull-left > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-left .dropdown-menu {
  font-size: 12px;
  left: 100%;
}

.kleo-main-header .btn {
  border-width: 2px;
  height: auto;
}

@media (max-width: 991px) {
  .kleo-main-header .secondary-menu {
    margin-bottom: 30px;
  }
}

.navbar-full-width .primary-menu,
.navbar-full-width .secondary-menu {
  padding: 0;
}

.kleo-main-header.header-normal > .container {
  text-align: right;

  .primary-menu,
  .secondary-menu {
    text-align: left;
  }
}

.kleo-main-header.header-normal .logo > a {
  text-align: left;
}

.kleo-main-header.header-normal .navbar-collapse {
  padding-right: 0;
}

.kleo-main-header.header-normal .navbar-header {
  flex-grow: 1;
  flex-shrink: 0;
}

.kleo-main-header a.btn-see-through {
  color: #333;
  border: 2px solid rgba(0, 0, 0, 0.2);

  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.4);
  }

  .kleo-main-header a.btn-see-through span.caret:after {
    top: 14px;
  }
}

/* Center Logo & Menu */
#header .header-centered.kleo-main-header > .container {
  display: block;
}

.header-centered .navbar-collapse,
.header-centered .navbar-collapse .navbar-nav {
  float: none !important;
}

.header-centered .navbar-header {
  float: none;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.header-centered .navbar-header .logo {
  float: none;
  display: inline-block;
  margin: 0;
}

.header-centered .navbar-header .logo > a {
  text-align: left;
}

.header-centered .primary-menu {
  //display: inline-block !important;
  padding-right: 0;
}

.header-centered .secondary-menu {
  //display: inline-block !important;
  padding-left: 0;
}

@media (min-width: 991px) {
  .header-flexmenu .header-centered {
    .menus-wrap {
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;

      width: 100%;

    }
  }

  .header-centered {
    .menus-wrap {
      text-align: center;

      .primary-menu .navbar-nav,
      .secondary-menu .navbar-nav {
        text-align: left;
      }
    }
  }
}


/* Right Logo */
@media (min-width: 991px) {
  #header .kleo-main-header.logo-to-right > .container {
    flex-direction: row-reverse;
  }

  #header .kleo-main-header.logo-to-right .primary-menu {
    flex-grow: 1;
  }

  #header .kleo-main-header.logo-to-right .secondary-menu {
    float: left;
    margin-right: 15px;
  }

  .kleo-main-header.logo-to-right .navbar-collapse {
    padding-left: 0;
  }

  .kleo-main-header.logo-to-right .logo {
    margin-right: 0;
  }

  .logo-to-right .navbar-header {
    float: right;
  }

  .logo-to-right .navbar-nav > li:first-child > a {
    margin-left: 0;
  }

}

/* Left logo & Menu below */
#header .header-left.kleo-main-header > .container {
  flex-wrap: wrap;
}

.header-left .logo a, .header-left .logo img {
  -moz-transition: 0.001s all ease-out;
  -webkit-transition: 0.001s all ease-out;
  -o-transition: 0.001s all ease-out;
  transition: 0.001s all ease-out;
}

.kleo-main-header.header-left .menus-wrap {
  clear: both;
}

.kleo-main-header.header-left .header-banner {
  min-width: 70%;
  flex-grow: 1;
  text-align: right;
}

.kleo-main-header.header-left .header-banner img {
  margin: 0;
  max-height: 100%;
  width: auto;
}

.kleo-main-header.header-left .primary-menu {
  flex-grow: 1;
}

.kleo-main-header.header-left .secondary-menu {
  padding-right: 0;
  float: right !important;

  & a.btn:last-child {
    margin-right: 0;
  }
}

.kleo-main-header.header-left .navbar-collapse {
  float: none;
  clear: both;
  padding-left: 0;
}

.kleo-main-header.header-left .navbar-nav > li:first-child > a {
  margin-left: 0;
}

.kleo-main-header.header-left.header-scrolled .navbar-collapse {
  clear: none;
}

.kleo-main-header.header-left.header-scrolled .navbar-nav > li:first-child > a {
  margin-left: 20px;
}

.kleo-main-header.header-left.header-scrolled .header-banner {
  display: none;
}

#header .header-left.kleo-main-header.header-scrolled > .container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media (min-width: 991px) {
  .header-flexmenu {
    .header-left {
      .menus-wrap {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;

        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
      }

      .primary-menu .navbar-nav,
      .secondary-menu .navbar-nav {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      }
    }
  }

  #header .kleo_ajax_results {
    overflow-y: auto;
    max-height: 500px;
    max-height: 70vh;
  }

}


.kleo-main-header,
.kleo-main-header li.menu-item {
  z-index: 1599;
}

.kleo-main-header li.menu-item.open .dropdown-menu,
.kleo-main-header li .kleo-toggle-submenu {
  z-index: 1600;
}

.social-header {
  z-index: 1600;
}


/* Header Extras */
.kleo-main-header.header-extras {
  .primary-menu {
    flex-grow: 1;
  }

  .secondary-menu {
    float: right;
  }
}

.kleo-main-header .btn {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 1.33 !important;
  border-radius: 4px;
  margin: 5px 0;
}

.kleo-main-header .nav > li > a.btn-buy {
  transition: background-color 0.4s ease;
}

.kleo-main-header .nav > li > a.btn:hover,
.kleo-main-header .nav > li > a.btn-buy:hover {
  box-shadow: none;
}

@media (min-width: 991px) {
  .kleo-main-header .btn {
    margin: 0 5px;
  }
}

/* Header Split */
@media (min-width: 991px) {
  #header .header-split.kleo-main-header > .container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    justify-content: center;
    height: 100%;
  }

  .header-split.kleo-main-header .logo {
    margin-right: 0;
  }

  .header-split.kleo-main-header .navbar-header {
    display: flex;
    order: 2;
    flex: 1 1 12%;
    justify-content: center;
  }

  .header-split.kleo-main-header .primary-menu {
    display: flex !important;
    order: 1;
    flex: 1 1 44%;
    justify-content: flex-end;
  }

  .header-split.kleo-main-header .secondary-menu {
    display: flex !important;
    order: 3;
    flex: 1 1 44%;
    justify-content: flex-start;
  }

  .header-split.header-split-side.kleo-main-header .primary-menu {

    justify-content: flex-start;
  }

  .header-split.header-split-side.kleo-main-header .secondary-menu {
    justify-content: flex-end;
  }
}

/* Header Landing Page */
@media (min-width: 991px) {
  #header .kleo-main-header.header-lp > .container {
    text-align: center;
    justify-content: center;
  }

  .header-lp.kleo-main-header {
    .primary-menu .navbar-nav,
    .secondary-menu .navbar-nav {
      text-align: left;
    }
  }

  .header-lp.kleo-main-header .logo {
    margin-right: 0;
  }

  .header-flexmenu {
    .header-lp.kleo-main-header {
      .navbar-header {
        display: flex;
        justify-content: start;
        flex-shrink: 0;
      }

      .primary-menu {
        display: flex !important;
        justify-content: center;
        flex-grow: 1;
      }

      .secondary-menu {
        display: flex !important;
        justify-content: flex-end;
      }
    }
  }

  .header-lp.kleo-main-header {
    .secondary-menu {
      float: right;
    }
  }

  .header-lp.kleo-main-header .secondary-menu.navbar-collapse {
    padding-right: 0;
  }
}

// Transparent Nav
.navbar-transparent a.btn-see-through {
  border: 2px solid rgba(255, 255, 255, 0.8);

  &:hover {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
  }
}


/* Megamenu */
.kleo-main-header .nav li.kleo-megamenu {
  position: static;
}

.kleo-main-header .nav li.kleo-megamenu ul .caret {
  opacity: 0;
  display: none;
}

.kleo-main-header .nav li.kleo-megamenu > .dropdown-menu {
  width: 100%;
  max-width: 1024px;
  padding: 20px 10px;
  margin: auto;
  position: absolute;
  right: 0;
  margin-top: -1px !important;
}

.navbar-full-width .kleo-main-header .nav li.kleo-megamenu.mega-5-cols > .dropdown-menu,
.navbar-full-width .kleo-main-header .nav li.kleo-megamenu.mega-6-cols > .dropdown-menu {
  max-width: 100%;
}

.is-sticky .kleo-main-header .nav li.kleo-megamenu > .dropdown-menu {
  margin-top: 0 !important;
}

.kleo-main-header .nav li.kleo-megamenu > ul.dropdown-menu > li {
  display: inline-block;
  float: left;
}

.kleo-main-header .nav li.kleo-megamenu.mega-2-cols > ul.dropdown-menu > li {
  width: 50%;
}

.kleo-main-header .nav li.kleo-megamenu.mega-3-cols > ul.dropdown-menu > li {
  width: 33.3%;
}

.kleo-main-header .nav li.kleo-megamenu.mega-4-cols > ul.dropdown-menu > li {
  width: 25%;
}

.kleo-main-header .nav li.kleo-megamenu.mega-5-cols > ul.dropdown-menu > li {
  width: 20%;
}

.kleo-main-header .nav li.kleo-megamenu.mega-6-cols > ul.dropdown-menu > li {
  width: 16.4%;
}

.kleo-main-header .nav li.kleo-megamenu.mega-2-cols,
.kleo-main-header .nav li.kleo-megamenu.mega-3-cols {
  position: relative;
}

.kleo-main-header .nav li.kleo-megamenu.mega-2-cols > .dropdown-menu {
  width: 400px;
  margin-left: -200px;
}

.kleo-main-header .nav li.kleo-megamenu.mega-3-cols > .dropdown-menu {
  margin-left: -320px;
  width: 640px;
}

.kleo-main-header .nav li.kleo-megamenu .dropdown-submenu ul {
  display: inline-block;
  width: 100%;
  float: left;
}

.kleo-main-header .nav li.kleo-megamenu .dropdown-submenu > a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.kleo-main-header .nav li.kleo-megamenu .dropdown-submenu .dropdown-menu {
  display: block !important;
  position: relative;
  box-shadow: none;
  border: none;
  left: 0;
}

.navbar-transparent .kleo-main-header .nav li.kleo-megamenu .dropdown-submenu ul {
  background-color: transparent;
}

.navbar-transparent.navbar-hover-opacity .kleo-main-header:hover {
  background: rgba(0, 0, 0, 0.2);
}

/* End Megamenu */

.kleo-mobile-icons {
  display: none;
}

.kleo-toggle-menu .notify-items {
  position: relative;
}

.kleo-mobile-switch {
  float: right;
}

/* Header With Transparency */
.navbar-transparent .navbar {
  border-bottom: none;
}

.navbar-transparent .navbar .navbar-nav {
}

.navbar-transparent .navbar .kleo-main-header {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-transparent .header-color,
.navbar-transparent .header-color .kleo-main-header {
  background-image: none;
}

.navbar-transparent .navbar .kleo-main-header.header-scrolled {
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-transparent.on-light-bg .navbar .kleo-main-header.header-scrolled {
  transition: background-color 0.5s ease;
  background-color: #fff;
}

.navbar-transparent.on-dark-bg #header .logo a,
.navbar-transparent.on-dark-bg .navbar .navbar-nav > li > a,
.navbar-transparent.on-dark-bg .navbar .navbar-nav .caret:after {
  color: #fff;
}

.navbar-transparent.on-dark-bg {
}

.navbar-transparent.on-light-bg {
}

.social-header.header-color {
  background-image: none;
}

.navbar-transparent .navbar-nav > li > .dropdown-menu li,
.navbar-transparent .navbar-nav > li > .dropdown-menu .dropdown-menu li {
  border-bottom-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar-transparent .navbar-nav > li > .dropdown-menu li > a:hover,
.navbar-transparent .navbar-nav > li > .dropdown-menu li > a:focus,
.navbar-transparent .dropdown-submenu:hover > a,
.navbar-transparent .dropdown-submenu:focus > a,
.navbar-transparent .dropdown-menu > .active > a {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar-transparent .navbar-nav > li > .dropdown-menu,
.navbar-transparent .navbar-nav > li > .dropdown-menu .dropdown-menu {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: transparent;
}

.navbar-transparent .navbar-toggle .icon-bar {
  background-color: #fff !important;
}

.navbar-transparent.on-light-bg .navbar-toggle .icon-bar {
  background-color: #000 !important;
}

.navbar-transparent .sticky-wrapper {
  height: auto !important;
}

.navbar-transparent:not(.kleo-navbar-fixed) #header {
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: 1;
}

/* Fixed Header */
.kleo-navbar-fixed .kleo-main-header {
  right: 0;
  left: 0;
  border-width: 0 0 1px;
}

.kleo-navbar-fixed .kleo-main-header.header-scrolled {
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kleo-navbar-fixed .navbar {
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
}

.kleo-navbar-fixed .social-header {
  position: relative;
}

.js .navbar-resize .navbar-nav {
  padding-top: inherit;
}

.kleo-navbar-fixed .navbar {
  top: 0;
  z-index: 30;
}

.kleo-navbar-fixed.navbar-transparent #header {
  min-height: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}

.kleo-navbar-fixed.navbar-transparent .kleo-main-header {
  border: none;
  transition: background-color 0.5s ease 0s;
}

.kleo-navbar-fixed.navbar-transparent .page-boxed #header {
  max-width: 1440px;
}

/* Ajax Search Form */
#nav-menu-item-search {
  position: relative;
}

#ajax_search_container {
  padding: 0 0 5px;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  z-index: 9999;
  position: absolute;
  width: 300px;
  left: -250px;
  box-shadow: 2px 2px 3px rgba(102, 102, 102, 0.1);
  top: 100%;
  line-height: 1.2em;
}

#ajax_search_container:before {
  position: absolute;
  display: block;
  content: "";
  top: -8px;
  right: 20px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-style: solid;
  border-width: 1px;
  border-right: none;
  border-bottom: 0;
}

#nav-menu-item-search .icon-search:before {
  content: '\e9b6' !important;
}

.kleo-user_avatar-nav .kleo-bp-user-avatar img {
  width: 30px;
}
.top-menu .kleo-user_avatar-nav .kleo-bp-user-avatar img {
  width: 22px;
}

.logo-to-right #ajax_search_container {
  left: auto;
  right: -250px;
}

.logo-to-right #ajax_search_container:before {
  right: auto;
  left: 20px;
}

#ajax_searchform {
  padding: 20px 10px 0;
  line-height: 20px;
}

.kleo_ajax_results {
  text-align: center;
  padding: 10px 0 20px;
}

.kleo_ajax_results h4,
.kleo_ajax_entry {
  text-align: left;
}

.kleo_ajax_results h4 {
  font-size: 11px;
  font-weight: bold;
  height: 12px;
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0 0 10px;
}

.kleo_ajax_results h4 span {
  position: relative;
  top: -2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0 8px;
  margin-left: 5px;
}

.searchHidden {
  display: none;
}

.kleo_ajax_entry {
  padding: 5px 5px 5px 10px;
  display: table;
  width: 100%;
}

.kleo_ajax_entry .search_excerpt {
  font-size: 12px;
}

.kleo_ajax_entry .ajax_search_image .icon {
  width: 44px;
  height: 44px;
  display: inline-block;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #f7f7f7;
}

.kleo_ajax_entry:last-child {
  border: none;
}

.ajax_not_found {
  font-style: italic;
  padding: 0;
}

.kleo_ajax_entry:hover {
}

.ajax_search_content {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: 10px;
}

.ajax_search_content .search_title {
  display: inline-block;
  float: left;
  width: 100%;
  line-height: 18px;
}

.ajax_search_content .search_excerpt {
  display: inline-block;
  float: left;
  line-height: 16px;
}

.ajax_search_image {
  width: 44px !important;
  height: 44px;
  line-height: 44px;
  text-align: center;
  display: table-cell;
}

.ajax_search_image img {
  width: 100%;
}

.ajax_search_image img.attachment-thumbnail {
  border-radius: 100%;
  width: 44px;
}

.ajax_search_image img.attachment-thumbnail.wp-post-image {
  height: 100%;
}

.ajax_view_all {
  margin: 5px 0 10px;
  padding: 6px 20px;
  display: inline-block;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

a.ajax_view_all:after {
  font-family: "fontello";
  font-size: 11px;
  content: "\e8ab";
  margin-left: 10px;
}

.kleo-ajax-search-loading {
  display: none;
  position: absolute;
  right: 20px;
  top: 27px;
  width: auto;
}

.kleo-loading-icon:before {
  content: "\e9a4";
  font-family: 'fontello';
  display: inline-block;
  animation: 2s linear 0s normal none infinite spin;
}

.kleo-visible {
  display: inline-block !important;
}

.show_search_pop {
  -webkit-animation: show_search_pop 0.3s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -moz-animation: show_search_pop 0.3s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-animation: show_search_pop 0.3s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
  animation: show_search_pop 0.3s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

/* Google Search Box in Header */
.has-google-search-box {
  .sticky-wrapper {
    z-index: 1490;
    position: relative;
  }

  li#nav-menu-item-search {
    z-index: 1501;
  }

  .header-color input.gsc-input {
    color: #000;
    font-size: 14px;
  }

  .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    width: auto;
    height: auto;
  }

  .gscb_a {
    font-size: 22px;
    line-height: 19px;
  }

  .kleo-search-wrap.show_search_pop {
    padding: 10px;
  }
}

/*Menu dropdown toggle*/
.kleo-toggle-menu {
  position: relative;
}

.kleo-main-header .navbar-collapse ul.kleo-toggle-submenu * {
  line-height: normal;
}

.kleo-toggle-menu .caret {
  display: none;
}

.kleo-toggle-menu .kleo-toggle-submenu {
  position: absolute;
  padding: 0;
  display: none;
  list-style: none;
  width: 300px;
  left: auto;
  right: -10px;
  z-index: 2;
  border-style: solid;
  border-width: 1px;
  box-shadow: 2px 2px 3px rgba(102, 102, 102, 0.1);
  border-radius: 0 0 3px 3px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-nav > .kleo-toggle-menu .kleo-toggle-submenu {
  top: 100%;
}

.navbar-transparent .kleo-toggle-menu .kleo-toggle-submenu {
  border-color: transparent !important;
}

.navbar-nav > .kleo-toggle-menu .kleo-toggle-submenu:before {
  position: absolute;
  display: block;
  content: "";
  top: -8px;
  right: 20px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-style: solid;
  border-width: 1px;
  border-right: none;
  border-bottom: 0;
  z-index: 999;
}

.navbar-transparent .navbar-nav > .kleo-messages-nav.kleo-toggle-menu .kleo-toggle-submenu:before {
  background-color: rgba(0, 0, 0, 0);
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 10px 12px;
  border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

.navbar-transparent .navbar-nav > .kleo-messages-nav .kleo-toggle-menu .minicart-buttons {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fff;
}

// set white color for text when the transparent header it's on
.navbar-transparent .navbar-nav > .kleo-messages-nav .kleo-toggle-menu .sub-menu {
  color: #fff !important
}

.navbar-transparent .navbar-nav li.kleo-submenu-item span, .navbar-transparent .navbar-nav ul.submenu-inner li.kleo-submenu-item {
  color: #fff;
}

.navbar-transparent .navbar-nav > .kleo-notifications-nav.kleo-toggle-menu .kleo-toggle-submenu:before {
  background-color: rgba(0, 0, 0, 0.0);
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 10px 12px;
  border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

.navbar-transparent .navbar-nav > .kleo-notifications-nav.kleo-toggle-menu .minicart-buttons {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(0, 0, 0, 0);
}

.logo-to-right .kleo-toggle-menu .kleo-toggle-submenu {
  right: auto;
  left: -10px;
}

.logo-to-right .kleo-toggle-menu .kleo-toggle-submenu:before {
  right: auto;
  left: 10px;
}

.kleo-toggle-menu a.remove {
  position: absolute;
  right: 15px;
  top: 13px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  padding: 0 5px;
  display: inline-block;
}

.kleo-toggle-menu a.remove:hover {
}

.kleo-toggle-submenu .submenu-inner {
  font-size: 12px;
  padding-left: 0;
  word-wrap: break-word;
  max-height: 450px;
  overflow-y: auto;
  line-height: normal;
}

.kleo-toggle-submenu .kleo-submenu-item {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  clear: both;
  overflow: hidden;
  padding: 10px;
  position: relative;
  transition: all 0.5s ease 0s;
  width: 100%;
}

.kleo-toggle-submenu .kleo-submenu-item:last-child {
  border-bottom: none;
}

.kleo-toggle-submenu .kleo-submenu-item a.remove {
  top: 10px;
}

.kleo-toggle-menu.kleo-loading a span.kleo-notifications {
  display: none;
}

.kleo-toggle-menu .minicart-buttons {
  padding: 15px;

  & a.btn {
    padding: 6px 10px;
    font-size: 13px;
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
  }
}

.kleo-toggle-menu .minicart-buttons .btn-default {
}

.kleo-toggle-menu .minicart-buttons .btn-default:hover {
  background: transparent !important;
}

.kleo-toggle-menu.kleo-loading > a:after {
  content: "\e997";
  font-family: "fontello";
  animation: 2s linear 0s normal none infinite spin;
  display: inline-block;
  position: absolute;
  top: -7px;
  right: 0;
}

.kleo-toggle-menu.open .kleo-toggle-submenu {
  display: block;
}

.kleo-notifications-nav {
  ul {
    counter-reset: section;

    &.submenu-inner {
      li {
        padding-left: 26px;
      }

      &.has-notif {
        li {

          &:before {
            counter-increment: section;
            content: counter(section);
            font-size: 24px;
            margin-right: 10px;
            position: absolute;
            left: 5px;
            top: 2px;
          }
        }
      }
    }
  }
}

.notify-contents {
  position: relative;

}

.kleo-notifications-nav li > .sa-notification,
.kleo-notifications-nav li > .notification {
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  height: auto !important;
  padding-left: 0 !important;
  width: 100%;
}

.kleo-notifications-nav .social-delete {
  display: none;
}

.no-alert {
  display: none !important;
}

.kleo-notifications {
  border-radius: 100%;
  display: inline;
  font-size: 10px;
  font-weight: bold;
  line-height: 19px;
  position: absolute;
  right: -11px;
  text-shadow: none;
  top: 50%;
  margin-top: -22px;
  width: 20px;
  height: 20px;
  text-align: center;
}

/* FlexMenu */
@media screen and (min-width: 991px) {
  .header-overflow .kleo-main-header,
  .header-overflow .kleo-main-header .navbar-collapse {
    overflow: hidden !important;
  }

  .flexMenu-popup li a {
    line-height: normal !important;
  }

  .kleo-main-header .flexMenu-popup .caret:after {
    top: 11px;
  }
}

@media screen and (max-width: 400px) {
  .navbar-header .logo {
    float: none;
    text-align: left;
  }

  .kleo-mobile-icons {
    /*margin-top: -2px !important;*/
  }
}

@media screen and (max-width: 480px) {

  .navbar-header .logo {
    float: none;
    text-align: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .logo {
    text-align: center;
  }

  .logo img {
    margin: 0 auto;
  }

  .navbar-header {
    float: none;
  }
}

@media (max-width: 991px) {

  .sticky-wrapper {
    height: auto !important;
    margin-top: -1px;
  }

  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }

  .kleo-main-header,
  .navbar-transparent .kleo-main-header,
  .kleo-navbar-fixed.navbar-transparent #header {
    position: relative !important;
    top: auto;
  }

  .kleo-main-header .navbar-toggle {
    display: inline-block;
    margin-right: 0;
  }

  .kleo-main-header .navbar-collapse {
    max-height: inherit;
    padding: 0;
    width: 100%;
  }

  .kleo-main-header .navbar-collapse > ul > li > a,
  .header-banner {
    line-height: normal !important;
  }

  .kleo-main-header .logo:not('.logo-retina') img,
  .kleo-main-header .logo:not('.logo-retina') a {
    max-height: 100% !important;
  }

  .kleo-main-header .navbar-collapse.collapse {
    display: none !important;
  }

  /* Kleo Menu */
  #header .navbar-nav {
    float: none;
  }

  #header .navbar-nav li {
    display: inline-block;
    width: 100%;
  }

  #header .navbar-nav li a {
    padding: 10px 0;
    text-transform: capitalize;

    &.btn {
      padding: 14px 20px;
    }

    &.btn-buy.btn-default {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  #header .navbar-nav > li > a {
    font-weight: bold;
    text-transform: uppercase;
  }

  #header .navbar-nav li:last-child {
    border-bottom: none;
  }

  #header .navbar-nav .dropdown-menu {
    position: relative;
    background-color: transparent;
    margin: 0;
    padding: 0;
    float: none;
    width: 100%;
    box-shadow: none;
    border: none;
    z-index: 0 !important;
  }

  #header .navbar-nav .dropdown-menu li a {
    font-weight: normal;
    font-size: 12px;
  }

  #header .navbar-nav .dropdown-menu li > a:before {
    font-family: "fontello";
    content: "\00a0";
    display: block;
    width: 20px;
    height: 10px;
    float: left;
    margin: 0;
  }

  #header .navbar-nav .dropdown-submenu .dropdown-menu {
    left: 0;
    top: 0;
    border-bottom: none;
    margin-bottom: 0;
  }

  .kleo-main-header .navbar-nav > li > .dropdown-menu {
    margin-top: 0 !important;
  }

  #header .navbar-nav .dropdown-submenu .dropdown-menu li:last-child {
    border-bottom: none;
  }

  #header .navbar-nav .dropdown-submenu .dropdown-menu li a:before {
    content: "\00a0 \00a0";
    width: 30px;
  }

  #header .navbar-nav li .caret {
    float: right;
  }

  #header .navbar-nav li .caret:after {
    font-family: "fontello";
    content: "\e982";
    font-size: 18px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    right: 0;
    top: 0;
  }

  #header i.icon-basket-full-alt:before {
    content: "\ea0a" !important;
  }

  #header .navbar-nav li.dropdown.open > a .caret:after,
  #header .navbar-nav li.dropdown-submenu.open > a .caret:after {
    content: "\e983";
  }

  #header .navbar-nav .dropdown-menu li > a:hover,
  #header .navbar-nav .dropdown-menu li > a:focus,
  #header .navbar-nav .dropdown-submenu:hover > a,
  #header .navbar-nav .dropdown-submenu:focus > a,
  #header .navbar-nav .dropdown-menu > .active > a {
    background: none;
  }

  .logo-to-right .navbar-header {
    float: none;
  }

  .logo-to-right .kleo-mobile-switch {
    float: left;
  }

  .logo-to-right .kleo-mobile-icons {
    float: left;
  }

  .logo-to-right .navbar-header .logo {
    float: right;
    margin-right: 0;
  }

  .header-centered .navbar-header {
    display: block;
  }

  .header-centered.kleo-main-header {
    text-align: left;
  }

  .kleo-main-header.header-left .header-banner {
    text-align: center;
  }

  #top-social {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  #top-social > ul li a,
  .top-menu > ul li a {
    border: none;
  }

  #top-social .tabdrop:before,
  .top-menu .tabdrop:before {
    border-left: none;
  }

  #top-social .tabdrop .dropdown-menu {
    margin-top: -1px;
  }

  /* Menu on Transparent Header */
  .kleo-main-header,
  .navbar-transparent .kleo-main-header,
  .kleo-navbar-fixed.navbar-transparent #header {
    position: relative !important;
    top: auto !important;
    background-color: #000;
  }

  .kleo-navbar-fixed.navbar-transparent.on-light-bg #header {
    background-color: #fff;
  }

  .navbar-transparent #menu-kleonavmenu li {
    border-bottom-color: rgba(255, 255, 255, 0.1) !important;
  }

  .navbar-transparent #menu-kleonavmenu li:first-child {
    border-top-color: rgba(255, 255, 255, 0.1) !important;
  }

  .navbar-transparent #menu-kleonavmenu li .caret:after {
    color: rgba(255, 255, 255, 0.2) !important;
  }

  .navbar-transparent.on-dark-bg:not(.kleo-navbar-fixed) #header {
    background: #000;
  }

  .navbar-transparent.on-dark-bg .navbar .kleo-main-header {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .navbar-transparent.on-dark-bg #ajax_searchform {
    background-color: #000;
  }

  .navbar-transparent.on-light-bg:not(.kleo-navbar-fixed) #header {
    background: #fff;
  }

  .navbar-transparent.on-light-bg .navbar .kleo-main-header {
    box-shadow: 0 5px 15px rgba(191, 191, 191, 0.1);
  }

  .navbar-transparent.on-light-bg a.btn-see-through {
    border: 2px solid rgba(0, 0, 0, 0.2);
  }

  .navbar-transparent.on-light-bg #ajax_searchform {
    background-color: #fff;
  }

  .navbar-transparent.on-light-bg #ajax_searchform .form-control {
    color: inherit;
  }

  .navbar-transparent.on-light-bg input.form-control[type=text] {
    border-color: #e5e5e5;
  }

  /* Megamenu */
  .kleo-main-header .nav li.kleo-megamenu {
    position: relative;
  }

  #header .navbar-nav li.kleo-megamenu .dropdown-submenu:not(.open) .dropdown-menu {
    display: none !important;
  }

  .kleo-main-header .nav li.kleo-megamenu .dropdown-submenu.open .dropdown-menu {
    display: block !important;
  }

  #header .navbar-nav li.kleo-megamenu .dropdown-submenu > a:after {
  }

  #header .navbar-nav li.kleo-megamenu .caret {
    opacity: 1;
    display: inline-block;
    margin-top: -10px;
  }

  /* Ajax Cart */
  .kleo-mobile-icons {
    display: inline-block;
    float: right;
    margin-top: -4px;
  }

  .kleo-toggle-menu,
  .kleo-toggle-menu .kleo-toggle-submenu {
    display: none !important;
  }

  .kleo-mobile-icons a {
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
  }

  .kleo-mobile-icons .cart-items {
    position: relative;
  }

  .kleo-mobile-icons .cart-items span,
  .kleo-mobile-icons .notify-items span {
    border-radius: 100%;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    position: absolute;
    top: -7px;
    right: -8px;
    width: 20px;
    height: 20px;
    line-height: 19px;
  }

  .kleo-mobile-icons .notify-items span {
    margin-top: 0;
  }

  .navbar-transparent .kleo-mobile-icons a {
    color: #fff;
  }

  .navbar-transparent.on-light-bg .kleo-mobile-icons a {
    color: #000;
  }

  /* Ajax Search */
  a.search-trigger {
    display: none !important;
  }

  #ajax_search_container:before {
    display: none;
  }

  #ajax_search_container {
    background-color: transparent;
    border-radius: 0;
    border: none;
    z-index: 9999;
    position: relative;
    width: auto;
    left: inherit;
    box-shadow: none;
    top: inherit;
    line-height: inherit;
    display: block;
    padding: 0;
  }

  .logo-to-right #ajax_search_container {
    right: inherit;
  }

  .kleo-ajax-search-loading {
    right: 20px;
    top: 18px;
  }

  #ajax_searchform {
    padding: 10px 0;
  }

  a.ajax_view_all {
    padding: 14px 20px !important;
  }

  #ajax_searchform input[type="text"] {
    margin: 0;
  }

  /* Ajax Search on Transparent Header */
  .navbar-transparent input.form-control[type=text] {
    border-color: rgba(255, 255, 255, 0.2);
  }

  .navbar-transparent #ajax_searchform {
    background-color: #222;
  }

  .navbar-transparent #ajax_searchform .form-control {
    background-color: transparent;
    color: #fff;
  }

  .kleo-main-header .nav > li > a:hover,
  .kleo-main-header .nav > li.active > a {
    box-shadow: none !important;
  }
}

@-webkit-keyframes show_search_pop {
  0% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes show_search_pop {
  0% {
    -moz-transform: scale(0.8);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes show_search_pop {
  0% {
    -o-transform: scale(0.8);
  }
  100% {
    -o-transform: scale(1);
  }
}

@keyframes show_search_pop {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
